@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-body ">
	<!-- row -->
	<div class="container-fluid">
		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>Hi, James Thew!</h4>
					<span>Let's add new recipe</span>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">New Recipe</h4>
			</div>
			<div class="card-body">
				<div class="basic-form">
					<form>
						<input type="hidden" name="_token" value="ML92rdCjbEmTftVXgNyoQXBHnoqjfV95zZ8HN7me">
						<div class="row">
							<div class="mb-3 col-md-4">
								<label class="form-label">Recipe title:</label>
								<input type="text" class="form-control" name="title">
							</div>
							<div class="mb-3 col-md-8">
								<label class="form-label">Description about recipe:</label>
								<textarea class="form-control" name="description"></textarea>
							</div>
						</div>
						<div class="row">
							
							<div class="mb-3 col-md-4">
								<label class="form-label">Recipe cuisine:</label>
								<select id="inputState" class="default-select form-control wide">
									<option selected>VietNamese</option>
									<option>Japanese</option>
									<option>Chinese</option>
								</select>
							</div>
					
							<div class="mb-3 col-md-4">
								<label class="form-label">Quantity served:</label>
								<select id="inputState" class="default-select form-control wide">
									<option selected>1-3</option>
									<option>3-5</option>
									<option>5-7</option>
									<option>7-9</option>
									<option>10+</option>
								</select>
							</div>
							<div class="mb-3 col-md-4">
								<label class="form-label">Cooking time:</label>
								<select id="inputState" class="default-select form-control wide">
									<option selected>00-15 min</option>
									<option>15-30 min</option>
									<option>30-60 min</option>
									<option>1-3 hours</option>
									<option>3+ hours</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="mb-3 col-xl-8 col-lg-8">
								<label class="form-label">Select recipe type(at least one):</label>
								<select multiple class="default-select form-control wide ">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
							<div class="mb-3 col-md-4">
								<label class="form-label">For:</label>
								<select id="inputState" class="default-select form-control wide">
									<option selected>Free user</option>
									<option>Member of site</option>
								</select>
							</div>
						</div>
						<div class="row">
							<span>Share photo of your recipe</span>
							<div class="mb-3 col-xl-4 col-lg-4">
								<input class="form-control" type="file" id="formFile">
							</div>
							<div class="mb-3 col-xl-4 col-lg-4">
								<input class="form-control" type="file" id="formFile">
							</div>
							<div class="mb-3 col-xl-4 col-lg-4">
								<input class="form-control" type="file" id="formFile">
							</div>
						</div>
						<div class="row">
							<div class="mb-3 col-xl-12 col-lg-12">
								<label class="form-label">Instruction:</label>
								<textarea class="form-control" name="instruction"></textarea>

							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="input-group mb-3">
									<input type="text" class="form-control" placeholder="Enter quantity and unit">
									<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">Ingredient</button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
										<div role="separator" class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Separated link</a>
									</div>
								</div>
								<div>
									<button type="button" class="btn btn-rounded btn-primary">
										<span class="btn-icon-start text-primary">
											<i class="fa fa-plus color-info"></i>
										</span>Add
									</button>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary" style="float: right;">Add</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

