@using Project3.Repository;
@inject IIngerdientRepository ingredientRepository;
@inject IRecipeRepository recipeRepository;
@{
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
	var ingredients = await ingredientRepository.SortNameByASC();

}

<div class="content-body ">
	<!-- row -->
	<div class="container-fluid">
		<div class="me-auto d-none d-lg-block mb-3">
			<a class="text-primary d-flex align-items-center mb-3 font-w500" href="/Admin/Index">
				<svg class="me-3" width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.274969 5.14888C0.27525 5.1486 0.275484 5.14827 0.275812 5.14799L5.17444 0.272997C5.54142 -0.0922061 6.135 -0.090847 6.5003 0.276184C6.86555 0.643168 6.86414 1.23675 6.49716 1.60199L3.20822 4.87499H23.0625C23.5803 4.87499 24 5.29471 24 5.81249C24 6.33027 23.5803 6.74999 23.0625 6.74999H3.20827L6.49711 10.023C6.86409 10.3882 6.8655 10.9818 6.50025 11.3488C6.13495 11.7159 5.54133 11.7171 5.17439 11.352L0.275764 6.47699C0.275483 6.47671 0.27525 6.47638 0.274921 6.4761C-0.0922505 6.10963 -0.0910778 5.51413 0.274969 5.14888Z" fill="#EA4989" />
				</svg>
				Back
			</a>
			<a class="mb-0 text-secondary fs-18 font-w500" href="#">Recipe  /</a>
			<a class="mb-0 font-w500 fs-18" href="#"> Add new recipe </a>
		</div>
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">New Recipe</h4>
			</div>
			<div class="card-body">
				<div class="basic-form">
					<form method="post" action="/Recipe/CreateRecipe" enctype="multipart/form-data">
						<input type="hidden" name="_token" value="ML92rdCjbEmTftVXgNyoQXBHnoqjfV95zZ8HN7me">
						<div class="row">
							<div class="mb-3 col-md-4">
								<label class="form-label">Recipe title:</label>
								<input type="text" class="form-control" name="title">
							</div>
							<div class="mb-3 col-md-8">
								<label class="form-label">Description about recipe:</label>
								<textarea class="form-control" name="description"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="mb-3 col-md-4">
								<label class="form-label">Recipe cuisine:</label>
								<select name="cuisines" class="default-select form-control wide">
									<option selected>VietNamese</option>
									<option>Japanese</option>
									<option>Chinese</option>
								</select>
							</div>
					
							<div class="mb-3 col-md-4">
								<label class="form-label">Quantity served:</label>
								<select name="servings" class="default-select form-control wide">
									<option selected>1-3</option>
									<option>3-5</option>
									<option>5-7</option>
									<option>7-9</option>
									<option>10+</option>
								</select>
							</div>
							<div class="mb-3 col-md-4">
								<label class="form-label">Cooking time:</label>
								<select name="cookingTime" class="default-select form-control wide">
									<option selected>00-15 min</option>
									<option>15-30 min</option>
									<option>30-60 min</option>
									<option>1-3 hours</option>
									<option>3+ hours</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="mb-3 col-xl-8 col-lg-8">
								<label class="form-label">Select recipe type(at least one):</label>
								<select multiple class="default-select form-control wide " name="categoryId">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
							<div class="mb-3 col-md-4">
								<label class="form-label">For:</label>
								<select class="default-select form-control wide" name="isFree">
									<option selected value="1" >Free user</option>
									<option value="0">Member of site</option>
								</select>
							</div>
						</div>
						<div class="row">
							<span>Share photo of your recipe</span>
							<div class="mb-3 col-xl-4 col-lg-4">
								<input class="form-control" type="file" id="formFile" name="img1" accept="image/jpeg, image/png, image/gif">
							</div>
							<div class="mb-3 col-xl-4 col-lg-4">
								<input class="form-control" type="file" id="formFile" name="img2" accept="image/jpeg, image/png, image/gif">
							</div>
							<div class="mb-3 col-xl-4 col-lg-4">
								<input class="form-control" type="file" id="formFile" name="img3" accept="image/jpeg, image/png, image/gif">
							</div>
						</div>
						<div class="row">
							<div class="mb-3 col-xl-12 col-lg-12">
								<label class="form-label">Instruction:</label>
								<textarea class="form-control" name="instruction"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4" id="container">
								<div class="input-group mb-3 col-md-4">
									<input type="text" class="form-control" placeholder="Enter quantity and unit" name="quantity" id="quantity">
									<select class="default-select form-control wide btn select2" name="ingredient" id="selectIngredient">
										@foreach (var ingre in ingredients)
										{
											<option>@ingre.Name</option>
										}
									</select>
								</div>
							</div>
							<div>
								<button type="button" class="btn btn-rounded btn-primary btn-add-ingre" id="btnAdd">
									<span class="btn-icon-start text-primary">
										<i class="fa fa-plus color-info"></i>
									</span>Add
								</button>
							</div>
						</div>
						<button type="submit" class="btn btn-primary" style="float: right;">Add</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
@section Script{
	<script>
		$(document).ready(function () {
			//$('.select2').select2();
			var count = 1;
			$("#btnAdd").click(function () {
				alert(count);
				var newIngre = $(".input-group:last").clone(true); //clone input group cuoi 
				newIngre.find("input").val("");
				newIngre.find("select").prop("selectedIndex", 0);
				$("#container").append(newIngre); // Thêm khối div mới vào container
				var selectName = "ingredient" + count;
				var quantityName = "quantity" +count;
				$('#selectIngredient').attr('name', selectName);
				$('#quantity').attr('name', selectName);
				count++;
			});
		});
	</script>
}




