@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-body ">
    <!-- row -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-body p-0">
                <div class="table-responsive ">
                    <table class="table order-request">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="media align-items-center">
                                        <img class="me-3 img-fluid rounded-circle" width="75" src="public/images/card/pic7.jpg" alt="DexignZone">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-2"><a href="ecom-product-detail.html" class="text-black">Title recipe</a></h5>
                                            <p class="mb-0 text-primary">Id?</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="mb-2 text-black wspace-no">User name</h>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a class="btn btn-danger light btn-sm" href="javascript:;">See detail</a>
                                    </div>
                                </td>
                             
                            </tr>
                        </tbody>
                    </table>
                    <div class="card-footer border-0 pt-0 text-center">
                        <a href="ecom-product-list.html" class="btn-link">View More &gt;&gt;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

