@*<div class="row">
	<div class="col-lg-4 order-lg-2 mb-4">
		<div class=" col-md-4 col-sm-6">
			<div class="card">
				<div class="card-body product-grid-card">
					<div class="new-arrival-product">
						<div class="new-arrivals-img-contnent" id="image-container">
							<img class="img-fluid" src="/@user.Avatar">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-8 order-lg-1">
		<div class="row">
			<div class="col-md-4">
				<label>Gender</label>
				<div class="">
					<select class="form-select mb-3 default-select" aria-required="true" id="gender" name="gender">
						<!option @(user.Gender == "Male"? "selected" : "") value="Male">Male</!option>
						<!option @(user.Gender == "Female"? "selected" : "") value="Female">Female</!option>
						<!option @(user.Gender == "Nonninary"? "selected" : "") value="Nonbinary">Nonbinary</!option>
					</select>
				</div>
			</div>
			<div class="mb-3 col-md-4">
				<label class="form-label">User name:</label>
				<input type="text" class="form-control" name="name" id="name" value="@user.Name">
			</div>
							
		</div>
	</div>
</div>*@