@{
    Layout = "~/Views/Shared/_Layoutweb.cshtml";
}

<div data-elementor-type="wp-post" data-elementor-id="569" class="elementor elementor-569">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-4f54516 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4f54516" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2308bf3 elementor-invisible" data-id="2308bf3" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInRight&quot;}">
                <div class="elementor-widget-wrap elementor-element-populated" style="margin-bottom:50px">
                    <div class="elementor-element elementor-element-6a85440 elementor-widget elementor-widget-heading" data-id="6a85440" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.15.0 - 09-08-2023 */
                                .elementor-heading-title {
                                    padding: 0;
                                    margin: 0;
                                    line-height: 1
                                }

                                .elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
                                    color: inherit;
                                    font-size: inherit;
                                    line-height: inherit
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                    font-size: 15px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                    font-size: 19px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                    font-size: 29px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                    font-size: 39px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                    font-size: 59px
                                }</style>
                                
                                <h1 class="elementor-heading-title elementor-size-default">About Us</h1>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-6485ce5 elementor-widget elementor-widget-heading" data-id="6485ce5" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h4 class="elementor-heading-title elementor-size-default">Beyond the boundaries of taste.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-b5f10d5 elementor-reverse-tablet elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" style="margin-bottom:70px" data-id="b5f10d5" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7b4b3c7" data-id="7b4b3c7" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-0a8d1c5 elementor-invisible elementor-widget elementor-widget-image" data-id="0a8d1c5" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;zoomIn&quot;}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" fetchpriority="high" width="1080" height="720" src="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/home-cooked-happiness.jpg" class="attachment-full size-full wp-image-375" style="border-radius:12px;" alt="Home cooked happiness" srcset="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/home-cooked-happiness.jpg 1080w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/home-cooked-happiness-300x200.jpg 300w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/home-cooked-happiness-1024x682.jpg 1024w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/home-cooked-happiness-768x512.jpg 768w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/home-cooked-happiness-1536x1024.jpg 1536w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/home-cooked-happiness-800x533.jpg 800w" sizes="(max-width: 1080px) 100vw, 1080px" />
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-e00a74f elementor-blockquote--skin-quotation elementor-blockquote--align-center elementor-widget__width-initial elementor-absolute elementor-blockquote--button-color-official elementor-invisible elementor-widget elementor-widget-blockquote" style="width: 340px;height: 192px;
    background-color: #ffff;
    border-radius: 10px;
    position: absolute;
    left: -16px;
    top: -16px;" data-id="e00a74f" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;rotateInUpRight&quot;}" data-widget_type="blockquote.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor-pro - v3.10.1 - 09-01-2023 */
                                @@charset "UTF-8";

                                .entry-content blockquote.elementor-blockquote:not(.alignright):not(.alignleft), .entry-summary blockquote.elementor-blockquote {
                                    margin-right: 0;
                                    margin-left: 0
                                }

                                .elementor-widget-blockquote blockquote {
                                    margin: 0;
                                    padding: 0;
                                    outline: 0;
                                    font-size: 100%;
                                    vertical-align: baseline;
                                    background: transparent;
                                    quotes: none;
                                    border: 0;
                                    font-style: normal;
                                    color: #55595c
                                }

                                    .elementor-widget-blockquote blockquote .e-q-footer:after, .elementor-widget-blockquote blockquote .e-q-footer:before, .elementor-widget-blockquote blockquote:after, .elementor-widget-blockquote blockquote:before, .elementor-widget-blockquote blockquote cite:after, .elementor-widget-blockquote blockquote cite:before {
                                        content: none
                                    }

                                .elementor-blockquote {
                                    transition: .3s
                                }

                                .elementor-blockquote__author, .elementor-blockquote__content {
                                    margin-bottom: 0;
                                    font-style: normal
                                }

                                .elementor-blockquote__author {
                                    font-weight: 700
                                }

                                .elementor-blockquote .e-q-footer {
                                    margin-top: 12px;
                                    display: flex;
                                    justify-content: space-between
                                }

                                .elementor-blockquote__tweet-button {
                                    display: flex;
                                    transition: .3s;
                                    color: #1da1f2;
                                    align-self: flex-end;
                                    line-height: 1;
                                    position: relative;
                                    width: -moz-max-content;
                                    width: max-content
                                }

                                    .elementor-blockquote__tweet-button:hover {
                                        color: #0967a0
                                    }

                                    .elementor-blockquote__tweet-button span {
                                        font-weight: 600
                                    }

                                    .elementor-blockquote__tweet-button i, .elementor-blockquote__tweet-button span {
                                        vertical-align: middle
                                    }

                                        .elementor-blockquote__tweet-button i + span, .elementor-blockquote__tweet-button svg + span {
                                            margin-left: .5em
                                        }

                                    .elementor-blockquote__tweet-button svg {
                                        fill: #1da1f2;
                                        height: 1em;
                                        width: 1em
                                    }

                                .elementor-blockquote__tweet-label {
                                    white-space: pre-wrap
                                }

                                .elementor-blockquote--button-skin-bubble .elementor-blockquote__tweet-button, .elementor-blockquote--button-skin-classic .elementor-blockquote__tweet-button {
                                    padding: .7em 1.2em;
                                    border-radius: 100em;
                                    background-color: #1da1f2;
                                    color: #fff;
                                    font-size: 15px
                                }

                                    .elementor-blockquote--button-skin-bubble .elementor-blockquote__tweet-button:hover, .elementor-blockquote--button-skin-classic .elementor-blockquote__tweet-button:hover {
                                        background-color: #0967a0;
                                        color: #fff
                                    }

                                        .elementor-blockquote--button-skin-bubble .elementor-blockquote__tweet-button:hover:before, .elementor-blockquote--button-skin-classic .elementor-blockquote__tweet-button:hover:before {
                                            border-right-color: #0967a0
                                        }

                                    .elementor-blockquote--button-skin-bubble .elementor-blockquote__tweet-button svg, .elementor-blockquote--button-skin-classic .elementor-blockquote__tweet-button svg {
                                        fill: #fff;
                                        height: 1em;
                                        width: 1em
                                    }

                                .elementor-blockquote--button-skin-bubble.elementor-blockquote--button-view-icon .elementor-blockquote__tweet-button, .elementor-blockquote--button-skin-classic.elementor-blockquote--button-view-icon .elementor-blockquote__tweet-button {
                                    padding: 0;
                                    width: 2em;
                                    height: 2em
                                }

                                    .elementor-blockquote--button-skin-bubble.elementor-blockquote--button-view-icon .elementor-blockquote__tweet-button i, .elementor-blockquote--button-skin-classic.elementor-blockquote--button-view-icon .elementor-blockquote__tweet-button i {
                                        position: absolute;
                                        left: 50%;
                                        top: 50%;
                                        transform: translate(-50%,-50%)
                                    }

                                .elementor-blockquote--button-skin-bubble .elementor-blockquote__tweet-button:before {
                                    content: "";
                                    border: .5em solid transparent;
                                    border-right-color: #1da1f2;
                                    position: absolute;
                                    left: -.8em;
                                    top: 50%;
                                    transform: translateY(-50%) scaleY(.65);
                                    transition: .3s
                                }

                                .elementor-blockquote--button-skin-bubble.elementor-blockquote--align-left .elementor-blockquote__tweet-button:before {
                                    right: auto;
                                    left: -.8em;
                                    border-right-color: #1da1f2;
                                    border-left-color: transparent
                                }

                                .elementor-blockquote--button-skin-bubble.elementor-blockquote--align-left .elementor-blockquote__tweet-button:hover:before {
                                    border-right-color: #0967a0
                                }

                                .elementor-blockquote--button-skin-bubble.elementor-blockquote--align-right .elementor-blockquote__tweet-button:before {
                                    left: auto;
                                    right: -.8em;
                                    border-right-color: transparent;
                                    border-left-color: #1da1f2
                                }

                                .elementor-blockquote--button-skin-bubble.elementor-blockquote--align-right .elementor-blockquote__tweet-button:hover:before {
                                    border-left-color: #0967a0
                                }

                                .elementor-blockquote--skin-boxed .elementor-blockquote {
                                    background-color: #e6e9ec;
                                    padding: 30px
                                }

                                .elementor-blockquote--skin-border .elementor-blockquote {
                                    border-color: #e6e9ec;
                                    border-left: 7px #e6e9ec;
                                    border-style: solid;
                                    padding-left: 20px
                                }

                                .elementor-blockquote--skin-quotation .elementor-blockquote:before {
                                    content: "“";
                                    font-size: 100px;
                                    color: #e6e9ec;
                                    font-family: Times New Roman,Times,serif;
                                    font-weight: 900;
                                    line-height: 1;
                                    display: block;
                                    height: .6em
                                }

                                .elementor-blockquote--skin-quotation .elementor-blockquote__content {
                                    margin-top: 15px
                                }

                                .elementor-blockquote--align-left .elementor-blockquote__content {
                                    text-align: left
                                }

                                .elementor-blockquote--align-left .elementor-blockquote .e-q-footer {
                                    flex-direction: row
                                }

                                .elementor-blockquote--align-right .elementor-blockquote__content {
                                    text-align: right
                                }

                                .elementor-blockquote--align-right .elementor-blockquote .e-q-footer {
                                    flex-direction: row-reverse
                                }

                                .elementor-blockquote--align-center .elementor-blockquote {
                                    text-align: center
                                }

                                    .elementor-blockquote--align-center .elementor-blockquote .e-q-footer, .elementor-blockquote--align-center .elementor-blockquote__author {
                                        display: block
                                    }

                                .elementor-blockquote--align-center .elementor-blockquote__tweet-button {
                                    margin-right: auto;
                                    margin-left: auto
                                }</style>		
                                <blockquote class="elementor-blockquote">
                                <p class="elementor-blockquote__content">
                                    “Ask not what you can do for your country. Ask what’s for lunch.”
                                </p>
                                <div class="e-q-footer">
                                    <cite class="elementor-blockquote__author"> - Orson Welles</cite>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-01783fa elementor-invisible" style="margin-left:30px" data-id="01783fa" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-01242f5 elementor-widget elementor-widget-heading" data-id="01242f5" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h6 class="elementor-heading-title elementor-size-default">Who we are</h6>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-079f766 elementor-widget elementor-widget-heading" data-id="079f766" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">
                                One thousand flavors in one place.

                            </h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-09f390d elementor-widget elementor-widget-text-editor" data-id="09f390d" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.15.0 - 09-08-2023 */
                                .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                    background-color: #69727d;
                                    color: #fff
                                }

                                .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                    color: #69727d;
                                    border: 3px solid;
                                    background-color: transparent
                                }

                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                    margin-top: 8px
                                }

                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                    width: 1em;
                                    height: 1em
                                }

                                .elementor-widget-text-editor .elementor-drop-cap {
                                    float: left;
                                    text-align: center;
                                    line-height: 1;
                                    font-size: 50px
                                }

                                .elementor-widget-text-editor .elementor-drop-cap-letter {
                                    display: inline-block
                                }</style>				<p>Tortor scelerisque feugiat nibh ridiculus nisi si. Enim penatibus ac sed primis convallis fames taciti dolor tempor. Faucibus morbi posuere sagittis turpis class vivamus penatibus ornare mollis donec scelerisque.</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-ea48ef7 elementor-widget elementor-widget-text-editor" data-id="ea48ef7" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>Tortor scelerisque feugiat nibh ridiculus nisi si. Enim penatibus ac sed primis convallis fames taciti dolor tempor. Faucibus morbi posuere sagittis turpis class vivamus penatibus ornare mollis donec scelerisque.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-22e7cbb elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="22e7cbb" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-background-overlay" >
            <img style="height:530px ;width:100%" src="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/ingredients-for-cooking.jpg" />
        </div>
        <div class="elementor-container elementor-column-gap-default"style="margin-bottom:50px">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e31ca3c elementor-invisible" data-id="e31ca3c" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
                <div class="elementor-widget-wrap elementor-element-populated" style="width: 50%;
    margin-bottom: 30px;">
                    <div class="elementor-element elementor-element-725d179 elementor-widget elementor-widget-heading" data-id="725d179" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h6 class="elementor-heading-title elementor-size-default">Message from founder</h6>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-60d6b6b elementor-widget elementor-widget-heading" data-id="60d6b6b" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">First, we eat. Then, we do everything else.</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-0af404c elementor-widget elementor-widget-text-editor" data-id="0af404c" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>Consectetur quisque per vel ac aptent praesent convallis aliquam montes. Lectus sit inceptos dis dui mattis ad morbi leo luctus duis. Mauris neque dictumst letius consequat senectus potenti ad.</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-83e9eee elementor-widget elementor-widget-text-editor" data-id="83e9eee" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>Consectetur quisque per vel ac aptent praesent convallis aliquam montes. Lectus sit inceptos dis dui mattis ad morbi leo luctus duis. Mauris neque dictumst letius consequat senectus potenti ad.</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-369fc1d e-transform elementor-widget elementor-widget-image" data-id="369fc1d" data-element_type="widget" data-settings="{&quot;_transform_rotateZ_effect&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:-9,&quot;sizes&quot;:[]},&quot;_transform_rotateZ_effect_tablet&quot;:{&quot;unit&quot;:&quot;deg&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_rotateZ_effect_mobile&quot;:{&quot;unit&quot;:&quot;deg&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" src="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/signature-1.png" title="signature" alt="signature" loading="lazy" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-11f235d elementor-section-boxed elementor-section-height-default elementor-section-height-default" style="margin-bottom:50px" data-id="11f235d" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-24c93e4 elementor-invisible" data-id="24c93e4" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-6a69c5d elementor-widget elementor-widget-heading" data-id="6a69c5d" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h6 class="elementor-heading-title elementor-size-default">Our Value</h6>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-e4427b2 elementor-widget elementor-widget-heading" data-id="e4427b2" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">Taking cooking to the next level</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-3798ef7 elementor-widget elementor-widget-text-editor" data-id="3798ef7" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-adaaff3" data-id="adaaff3" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated" style="display:flex;gap:15px">
                    <div class="elementor-element elementor-element-bb1a53d elementor-view-stacked elementor-position-left elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-invisible elementor-widget elementor-widget-icon-box" data-id="bb1a53d" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;}" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container" style="padding: 20px;
    background-color: #ffff;
    border-radius: 10px;">
                            <link rel="stylesheet" href="https://point.moxcreative.com/yumma/wp-content/plugins/elementor/assets/css/widget-icon-box.min.css">	
                            <div class="elementor-icon-box-wrapper">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-" style="background-color:#d54215">
                                      <i class="fa-solid fa-lightbulb"></i>     
                                    </span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <h4 class="elementor-icon-box-title">
                                        <span>
                                            Vision
                                        </span>
                                    </h4>
                                    <p class="elementor-icon-box-description">
                                        Dolor fusce elit himenaeos arcu sapien ultrices taciti tincidunt maximus aptent mus inceptos
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-92b7dee elementor-view-stacked elementor-position-left elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-invisible elementor-widget elementor-widget-icon-box" data-id="92b7dee" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;}" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container" style="padding: 20px;
                             background-color: #ffff;
                             border-radius: 10px;">
                            <div class="elementor-icon-box-wrapper">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-" style="background-color:#d54215">
                                      <i class="fa-solid fa-leaf"></i>
                                    </span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <h4 class="elementor-icon-box-title">
                                        <span>
                                            Mission
                                        </span>
                                    </h4>
                                    <p class="elementor-icon-box-description">
                                        Dolor fusce elit himenaeos arcu sapien ultrices taciti tincidunt maximus aptent mus inceptos
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-98845d7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" style="margin-bottom:50px" data-id="98845d7" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c113b77 elementor-invisible" data-id="c113b77" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;bounceInRight&quot;}">
                <div class="elementor-widget-wrap elementor-element-populated" style="width:50%">
                    <div class="elementor-element elementor-element-a9a2d7e elementor-widget elementor-widget-heading" data-id="a9a2d7e" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">Get update delicious recipes everyday!</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-03d4f6d elementor-widget elementor-widget-text-editor" data-id="03d4f6d" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-fc1adaa elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="fc1adaa" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor-pro - v3.10.1 - 09-01-2023 */
                                .elementor-button.elementor-hidden, .elementor-hidden {
                                    display: none
                                }

                                .e-form__step {
                                    width: 100%
                                }

                                    .e-form__step:not(.elementor-hidden) {
                                        display: flex;
                                        flex-wrap: wrap
                                    }

                                .e-form__buttons {
                                    flex-wrap: wrap
                                }

                                .e-form__buttons, .e-form__buttons__wrapper {
                                    display: flex
                                }

                                .e-form__indicators {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    flex-wrap: nowrap;
                                    font-size: 13px;
                                    margin-bottom: var(--e-form-steps-indicators-spacing)
                                }

                                .e-form__indicators__indicator {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    flex-basis: 0;
                                    padding: 0 var(--e-form-steps-divider-gap)
                                }

                                .e-form__indicators__indicator__progress {
                                    width: 100%;
                                    position: relative;
                                    background-color: var(--e-form-steps-indicator-progress-background-color);
                                    border-radius: var(--e-form-steps-indicator-progress-border-radius);
                                    overflow: hidden
                                }

                                .e-form__indicators__indicator__progress__meter {
                                    width: var(--e-form-steps-indicator-progress-meter-width,0);
                                    height: var(--e-form-steps-indicator-progress-height);
                                    line-height: var(--e-form-steps-indicator-progress-height);
                                    padding-right: 15px;
                                    border-radius: var(--e-form-steps-indicator-progress-border-radius);
                                    background-color: var(--e-form-steps-indicator-progress-color);
                                    color: var(--e-form-steps-indicator-progress-meter-color);
                                    text-align: right;
                                    transition: width .1s linear
                                }

                                .e-form__indicators__indicator:first-child {
                                    padding-left: 0
                                }

                                .e-form__indicators__indicator:last-child {
                                    padding-right: 0
                                }

                                .e-form__indicators__indicator--state-inactive {
                                    color: var(--e-form-steps-indicator-inactive-primary-color,#c2cbd2)
                                }

                                    .e-form__indicators__indicator--state-inactive [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
                                        background-color: var(--e-form-steps-indicator-inactive-secondary-color,#fff)
                                    }

                                    .e-form__indicators__indicator--state-inactive object, .e-form__indicators__indicator--state-inactive svg {
                                        fill: var(--e-form-steps-indicator-inactive-primary-color,#c2cbd2)
                                    }

                                .e-form__indicators__indicator--state-active {
                                    color: var(--e-form-steps-indicator-active-primary-color,#39b54a);
                                    border-color: var(--e-form-steps-indicator-active-secondary-color,#fff)
                                }

                                    .e-form__indicators__indicator--state-active [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
                                        background-color: var(--e-form-steps-indicator-active-secondary-color,#fff)
                                    }

                                    .e-form__indicators__indicator--state-active object, .e-form__indicators__indicator--state-active svg {
                                        fill: var(--e-form-steps-indicator-active-primary-color,#39b54a)
                                    }

                                .e-form__indicators__indicator--state-completed {
                                    color: var(--e-form-steps-indicator-completed-secondary-color,#fff)
                                }

                                    .e-form__indicators__indicator--state-completed [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
                                        background-color: var(--e-form-steps-indicator-completed-primary-color,#39b54a)
                                    }

                                    .e-form__indicators__indicator--state-completed .e-form__indicators__indicator__label {
                                        color: var(--e-form-steps-indicator-completed-primary-color,#39b54a)
                                    }

                                    .e-form__indicators__indicator--state-completed .e-form__indicators__indicator--shape-none {
                                        color: var(--e-form-steps-indicator-completed-primary-color,#39b54a);
                                        background-color: initial
                                    }

                                    .e-form__indicators__indicator--state-completed object, .e-form__indicators__indicator--state-completed svg {
                                        fill: var(--e-form-steps-indicator-completed-secondary-color,#fff)
                                    }

                                .e-form__indicators__indicator__icon {
                                    width: var(--e-form-steps-indicator-padding,30px);
                                    height: var(--e-form-steps-indicator-padding,30px);
                                    font-size: var(--e-form-steps-indicator-icon-size);
                                    border-width: 1px;
                                    border-style: solid;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    overflow: hidden;
                                    margin-bottom: 10px
                                }

                                    .e-form__indicators__indicator__icon img, .e-form__indicators__indicator__icon object, .e-form__indicators__indicator__icon svg {
                                        width: var(--e-form-steps-indicator-icon-size);
                                        height: auto
                                    }

                                    .e-form__indicators__indicator__icon .e-font-icon-svg {
                                        height: 1em
                                    }

                                .e-form__indicators__indicator__number {
                                    width: var(--e-form-steps-indicator-padding,30px);
                                    height: var(--e-form-steps-indicator-padding,30px);
                                    border-width: 1px;
                                    border-style: solid;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin-bottom: 10px
                                }

                                .e-form__indicators__indicator--shape-circle {
                                    border-radius: 50%
                                }

                                .e-form__indicators__indicator--shape-square {
                                    border-radius: 0
                                }

                                .e-form__indicators__indicator--shape-rounded {
                                    border-radius: 5px
                                }

                                .e-form__indicators__indicator--shape-none {
                                    border: 0
                                }

                                .e-form__indicators__indicator__label {
                                    text-align: center
                                }

                                .e-form__indicators__indicator__separator {
                                    width: 100%;
                                    height: var(--e-form-steps-divider-width);
                                    background-color: #c2cbd2
                                }

                                .e-form__indicators--type-icon, .e-form__indicators--type-icon_text, .e-form__indicators--type-number, .e-form__indicators--type-number_text {
                                    align-items: flex-start
                                }

                                    .e-form__indicators--type-icon .e-form__indicators__indicator__separator, .e-form__indicators--type-icon_text .e-form__indicators__indicator__separator, .e-form__indicators--type-number .e-form__indicators__indicator__separator, .e-form__indicators--type-number_text .e-form__indicators__indicator__separator {
                                        margin-top: calc(var(--e-form-steps-indicator-padding, 30px) / 2 - var(--e-form-steps-divider-width, 1px) / 2)
                                    }

                                .elementor-field-type-hidden {
                                    display: none
                                }

                                .elementor-field-type-html {
                                    display: inline-block
                                }

                                .elementor-login .elementor-lost-password, .elementor-login .elementor-remember-me {
                                    font-size: .85em
                                }

                                .elementor-field-type-recaptcha_v3 .elementor-field-label {
                                    display: none
                                }

                                .elementor-field-type-recaptcha_v3 .grecaptcha-badge {
                                    z-index: 1
                                }

                                .elementor-button .elementor-form-spinner {
                                    order: 3
                                }

                                .elementor-form .elementor-button > span {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center
                                }

                                .elementor-form .elementor-button .elementor-button-text {
                                    white-space: normal;
                                    flex-grow: 0
                                }

                                .elementor-form .elementor-button svg {
                                    height: auto
                                }

                                .elementor-form .elementor-button .e-font-icon-svg {
                                    height: 1em
                                }

                                .elementor-select-wrapper .select-caret-down-wrapper {
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    inset-inline-end: 10px;
                                    pointer-events: none;
                                    font-size: 11px
                                }

                                    .elementor-select-wrapper .select-caret-down-wrapper svg {
                                        display: unset;
                                        width: 1em;
                                        aspect-ratio: unset;
                                        fill: currentColor
                                    }

                                    .elementor-select-wrapper .select-caret-down-wrapper i {
                                        font-size: 19px;
                                        line-height: 2
                                    }

                                .elementor-select-wrapper.remove-before:before {
                                    content: "" !important
                                }</style>		<form class="elementor-form" method="post" name="New Form">
                                <input type="hidden" name="post_id" value="569" />
                                <input type="hidden" name="form_id" value="fc1adaa" />
                                <input type="hidden" name="referer_title" value="About Us" />

                                <input type="hidden" name="queried_id" value="569" />

                                <div class="elementor-form-fields-wrapper elementor-labels-above">
                                    <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-50" style="padding-right:10px;padding-bottom:10px">
                                        <label for="form-field-name" class="elementor-field-label">
                                            First Name
                                        </label>
                                        <input size="1" type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-md  elementor-field-textual" placeholder="First Name">
                                    </div>
                                    <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-field_85442b9 elementor-col-50" style="padding-bottom:10px">
                                        <label for="form-field-field_85442b9" class="elementor-field-label">
                                            Last Name
                                        </label>
                                        <input size="1" type="text" name="form_fields[field_85442b9]" id="form-field-field_85442b9" class="elementor-field elementor-size-md  elementor-field-textual" placeholder="Last Name">
                                    </div>
                                    <div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required" style="padding-bottom:10px">
                                        <label for="form-field-email" class="elementor-field-label">
                                            Email
                                        </label>
                                        <input size="1" type="email" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-md  elementor-field-textual" placeholder="Email" required="required" aria-required="true">
                                    </div>
                                    <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
                                        <button type="submit" class="elementor-button elementor-size-md">
                                            <span>
                                                <span class="elementor-align-icon-left elementor-button-icon">
                                                    <svg aria-hidden="true" class="e-font-icon-svg e-far-envelope" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path></svg>
                                                </span>
                                                <span class="elementor-button-text">Sign Up</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-439743f elementor-section-boxed elementor-section-height-default elementor-section-height-default" style="margin-bottom:70px" data-id="439743f" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a5af62d" data-id="a5af62d" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated" >
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-b8f908b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b8f908b" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default" style="    display: flex;
    justify-content: center;">
                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-471c16b elementor-invisible" style="    width: 50%;
" data-id="471c16b" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated" style="text-align: center;">
                                    <div class="elementor-element elementor-element-56b7b15 elementor-widget elementor-widget-heading" data-id="56b7b15" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">Get in touch</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-b325ea1 elementor-widget elementor-widget-text-editor" data-id="b325ea1" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-7776597 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7776597" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-baa3908 animated-slow elementor-invisible" data-id="baa3908" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated" style="border-radius:10px;display:flex;gap:30px ;background-color:#FFF;margin-right:10px;padding:60px">
                                    <div class="elementor-element elementor-element-c3da9e1 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="c3da9e1" data-element_type="widget" data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-icon-box-wrapper" style="text-align:left">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="material-icons md-alternate_email" data-md-icon="alternate_email"></i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <h4 class="elementor-icon-box-title">
                                                        <span>
                                                            Email Support
                                                        </span>
                                                    </h4>
                                                    <p class="elementor-icon-box-description">
                                                        Leo venenatis posuere nostra torquent potenti condimentum magnis non augue amet sed vivamus habitasse
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-dd1b674 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="dd1b674" data-element_type="widget" data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <link rel="stylesheet" href="https://point.moxcreative.com/yumma/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">		<ul class="elementor-icon-list-items">
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i class="fa-solid fa-caret-right"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Customer support : support@yourdomain.tld</span>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i class="fa-solid fa-caret-right"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Redactions : hello@yourdomain.tld</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-3ee5be4 elementor-widget elementor-widget-button" data-id="3ee5be4" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-icon elementor-align-icon-right">
                                                          <i class="fa-solid fa-up-right-from-square"></i>
                                                        </span>
                                                        <span class="elementor-button-text">Learn more</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-fcf03c3 animated-slow elementor-invisible" data-id="fcf03c3" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInRight&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated" style="border-radius:10px;background-color:#FFF ;margin-left:10px;display:flex;gap:30px ;padding:60px">
                                    <div class="elementor-element elementor-element-9593aaa elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="9593aaa" data-element_type="widget" data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-icon-box-wrapper" style="    text-align: left;">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="material-icons md-support_agent" data-md-icon="support_agent"></i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <h4 class="elementor-icon-box-title">
                                                        <span>
                                                            Call Center
                                                        </span>
                                                    </h4>
                                                    <p class="elementor-icon-box-description">
                                                        Suspendisse justo interdum pretium mus sit erat dapibus ultricies mattis adipiscing diam velit ipsum
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-e4bf4b1 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="e4bf4b1" data-element_type="widget" data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <ul class="elementor-icon-list-items">
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                     <i class="fa-solid fa-caret-right"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Customer Service : +6221.2002.2012</span>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                               <i class="fa-solid fa-caret-right"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">Advertise : +6221.2002.2012</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-4eeb167 elementor-widget elementor-widget-button" data-id="4eeb167" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-icon elementor-align-icon-right">
                                                            <i class="fa-regular fa-comment"></i>
                                                        </span>
                                                        <span class="elementor-button-text">Chat Now</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>