@{
    Layout = "~/Views/Shared/_Layoutweb.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Recipe</title>
</head>
<body>
    <div data-elementor-type="wp-post" data-elementor-id="1220" class="elementor elementor-1220">
        <section class="elementor-section elementor-top-section elementor-element elementor-element-e3dc6de elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e3dc6de" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;slideshow&quot;,&quot;background_slideshow_gallery&quot;:[{&quot;id&quot;:1235,&quot;url&quot;:&quot;http:\/\/point.moxcreative.com\/yumma\/wp-content\/uploads\/sites\/2\/2022\/04\/concept-of-tasty-food-with-bell-pepper-on-white-background.jpg&quot;},{&quot;id&quot;:1233,&quot;url&quot;:&quot;http:\/\/point.moxcreative.com\/yumma\/wp-content\/uploads\/sites\/2\/2022\/04\/flat-lay-with-takeaway-food-on-wooden-background-food-delivery.jpg&quot;},{&quot;id&quot;:1231,&quot;url&quot;:&quot;http:\/\/point.moxcreative.com\/yumma\/wp-content\/uploads\/sites\/2\/2022\/04\/chinese-food-white-background.jpg&quot;}],&quot;background_slideshow_lazyload&quot;:&quot;yes&quot;,&quot;background_slideshow_ken_burns&quot;:&quot;yes&quot;,&quot;background_slideshow_loop&quot;:&quot;yes&quot;,&quot;background_slideshow_slide_duration&quot;:5000,&quot;background_slideshow_slide_transition&quot;:&quot;fade&quot;,&quot;background_slideshow_transition_duration&quot;:500,&quot;background_slideshow_ken_burns_zoom_direction&quot;:&quot;in&quot;}">
            <div class="elementor-background-overlay" style="background-image: linear-gradient(180deg, #FFFFFF00 0%, #fdfdfc 100%);"></div>
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ce0c9ab" style="display: flex;justify-content: center;margin-bottom:180px" data-id="ce0c9ab" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated" style="text-align: center;width: 50%;display: flex;">
                        <div class="elementor-element elementor-element-0d9bbaa elementor-headline--style-rotate elementor-widget elementor-widget-animated-headline" data-id="0d9bbaa" data-element_type="widget" data-settings="{&quot;headline_style&quot;:&quot;rotate&quot;,&quot;animation_type&quot;:&quot;slide&quot;,&quot;rotating_text&quot;:&quot;Boiled\nSteamed\nFried\nBaked&quot;,&quot;loop&quot;:&quot;yes&quot;,&quot;rotate_iteration_delay&quot;:2500}" data-widget_type="animated-headline.default">
                            <div class="elementor-widget-container" style="margin-top:100px">
                                <link rel="stylesheet" href="https://point.moxcreative.com/yumma/wp-content/plugins/elementor-pro/assets/css/widget-animated-headline.min.css">		<h1 class="elementor-headline elementor-headline-animation-type-slide">
                                    <span class="elementor-headline-dynamic-wrapper elementor-headline-text-wrapper">
                                        <span class="elementor-headline-dynamic-text elementor-headline-text-active" style="color:#d54215">
                                            Boiled
                                        </span>
                                        <span class="elementor-headline-dynamic-text" style="color:#d54215">
                                            Steamed
                                        </span>
                                        <span class="elementor-headline-dynamic-text" style="color:#d54215">
                                            Fried
                                        </span>
                                        <span class="elementor-headline-dynamic-text" style="color:#d54215">
                                            Baked
                                        </span>
                                    </span>
                                </h1>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-512040f elementor-widget elementor-widget-heading" data-id="512040f" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Descriptions</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-c6a25fc elementor-widget elementor-widget-text-editor" data-id="c6a25fc" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-04555eb elementor-align-center elementor-widget elementor-widget-button" data-id="04555eb" data-element_type="widget" data-widget_type="button.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                    <a class="elementor-button elementor-button-link elementor-size-lg" href="#">
                                        <span class="elementor-button-content-wrapper">
                                            <span class="elementor-button-icon elementor-align-icon-right">
                                                <i aria-hidden="true" class="material-icons md-restaurant_menu" data-md-icon="restaurant_menu"></i>
                                            </span>
                                            <span class="elementor-button-text">Explore Recipes</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<section class="elementor-section elementor-top-section elementor-element elementor-element-e7704a2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e7704a2" data-element_type="section">
			<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b777f97 elementor-invisible" data-id="b777f97" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
					<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-7c8f8f6 elementor-widget elementor-widget-heading" data-id="7c8f8f6" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h6 class="elementor-heading-title elementor-size-default">Featured</h6>
							</div>
						</div>
						<div class="elementor-element elementor-element-49fce76 elementor-widget elementor-widget-heading" data-id="49fce76" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h2 class="elementor-heading-title elementor-size-default">Category Reccipe</h2>
							</div>
						</div>
						<div class="elementor-element elementor-element-b1dd9e8 elementor-widget elementor-widget-elementskit-accordion" data-id="b1dd9e8" data-element_type="widget" data-widget_type="elementskit-accordion.default">
							<div class="elementor-widget-container">
								<div class="ekit-wid-con">
									<div class="elementskit-accordion accoedion-primary" id="accordion-64f05f904a7bc">


										<div class="elementskit-card active">
											<div class="elementskit-card-header" id="primaryHeading-0-b1dd9e8">
												<a href="#collapse-a645a6564f05f904a7bc" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-a645a6564f05f904a7bc" aria-expanded="true" aria-controls="Collapse-a645a6564f05f904a7bc">

													<span class="ekit-accordion-title"></span>


													<div class="ekit_accordion_icon_group">
														<div class="ekit_accordion_normal_icon">
															<!-- Normal Icon -->
															<i aria-hidden="true" class="icon-open icon-right icon icon-down-arrow1"></i>
														</div>

														<div class="ekit_accordion_active_icon">
															<!-- Active Icon -->
															<i aria-hidden="true" class="icon-closed icon-right icon icon-up-arrow"></i>
														</div>

													</div>


												</a>
											</div>

											<div id="Collapse-a645a6564f05f904a7bc" class=" show collapse" aria-labelledby="primaryHeading-0-b1dd9e8" data-parent="#accordion-64f05f904a7bc">

												<div class="elementskit-card-body ekit-accordion--content">
													<p></p>
												</div>

											</div>

										</div><!-- .elementskit-card END -->


										<div class="elementskit-card ">
											<div class="elementskit-card-header" id="primaryHeading-1-b1dd9e8">
												<a href="#collapse-c20708164f05f904a7bc" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-c20708164f05f904a7bc" aria-expanded="false" aria-controls="Collapse-c20708164f05f904a7bc">

													<span class="ekit-accordion-title"></span>


													<div class="ekit_accordion_icon_group">
														<div class="ekit_accordion_normal_icon">
															<!-- Normal Icon -->
															<i aria-hidden="true" class="icon-open icon-right icon icon-down-arrow1"></i>
														</div>

														<div class="ekit_accordion_active_icon">
															<!-- Active Icon -->
															<i aria-hidden="true" class="icon-closed icon-right icon icon-up-arrow"></i>
														</div>

													</div>


												</a>
											</div>

											<div id="Collapse-c20708164f05f904a7bc" class=" collapse" aria-labelledby="primaryHeading-1-b1dd9e8" data-parent="#accordion-64f05f904a7bc">

												<div class="elementskit-card-body ekit-accordion--content">
													

											</div>

										</div><!-- .elementskit-card END -->


										<div class="elementskit-card ">
											<div class="elementskit-card-header" id="primaryHeading-2-b1dd9e8">
												<a href="#collapse-807a01c64f05f904a7bc" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-807a01c64f05f904a7bc" aria-expanded="false" aria-controls="Collapse-807a01c64f05f904a7bc">

													<span class="ekit-accordion-title"></span>


													<div class="ekit_accordion_icon_group">
														<div class="ekit_accordion_normal_icon">
															<!-- Normal Icon -->
															<i aria-hidden="true" class="icon-open icon-right icon icon-down-arrow1"></i>
														</div>

														<div class="ekit_accordion_active_icon">
															<!-- Active Icon -->
															<i aria-hidden="true" class="icon-closed icon-right icon icon-up-arrow"></i>
														</div>

													</div>


												</a>
											</div>

											<div id="Collapse-807a01c64f05f904a7bc" class=" collapse" aria-labelledby="primaryHeading-2-b1dd9e8" data-parent="#accordion-64f05f904a7bc">

												<div class="elementskit-card-body ekit-accordion--content">
													
												</div>

											</div>

										</div><!-- .elementskit-card END -->


										<div class="elementskit-card ">
											<div class="elementskit-card-header" id="primaryHeading-3-b1dd9e8">
												<a href="#collapse-d2b640964f05f904a7bc" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-d2b640964f05f904a7bc" aria-expanded="false" aria-controls="Collapse-d2b640964f05f904a7bc">

													<span class="ekit-accordion-title"></span>


													<div class="ekit_accordion_icon_group">
														<div class="ekit_accordion_normal_icon">
															<!-- Normal Icon -->
															<i aria-hidden="true" class="icon-open icon-right icon icon-down-arrow1"></i>
														</div>

														<div class="ekit_accordion_active_icon">
															<!-- Active Icon -->
															<i aria-hidden="true" class="icon-closed icon-right icon icon-up-arrow"></i>
														</div>

													</div>


												</a>
											</div>

											<div id="Collapse-d2b640964f05f904a7bc" class=" collapse" aria-labelledby="primaryHeading-3-b1dd9e8" data-parent="#accordion-64f05f904a7bc">

												<div class="elementskit-card-body ekit-accordion--content">
													

											</div>

										</div><!-- .elementskit-card END -->


										<div class="elementskit-card ">
											<div class="elementskit-card-header" id="primaryHeading-4-b1dd9e8">
												<a href="#collapse-4952d6564f05f904a7bc" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-4952d6564f05f904a7bc" aria-expanded="false" aria-controls="Collapse-4952d6564f05f904a7bc">

													<span class="ekit-accordion-title"></span>


													<div class="ekit_accordion_icon_group">
														<div class="ekit_accordion_normal_icon">
															<!-- Normal Icon -->
															<i aria-hidden="true" class="icon-open icon-right icon icon-down-arrow1"></i>
														</div>

														<div class="ekit_accordion_active_icon">
															<!-- Active Icon -->
															<i aria-hidden="true" class="icon-closed icon-right icon icon-up-arrow"></i>
														</div>

													</div>


												</a>
											</div>

											<div id="Collapse-4952d6564f05f904a7bc" class=" collapse" aria-labelledby="primaryHeading-4-b1dd9e8" data-parent="#accordion-64f05f904a7bc">

												<div class="elementskit-card-body ekit-accordion--content">
													
												</div>

											</div>

										</div><!-- .elementskit-card END -->

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

</body>
</html>

