@{
	Layout = "~/Views/Shared/_Layoutweb.cshtml";
}
<div data-elementor-type="wp-post" data-elementor-id="254" class="elementor elementor-254">
<section class="elementor-section elementor-top-section elementor-element elementor-element-f1dd6c8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f1dd6c8" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
	<div class="elementor-background-overlay"></div>
	<div class="elementor-container elementor-column-gap-default">
		<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e4f05f5 elementor-invisible" data-id="e4f05f5" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInRight&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
				<div class="elementor-element elementor-element-89f8b73 elementor-widget elementor-widget-heading" data-id="89f8b73" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<style>
							/*! elementor - v3.15.0 - 09-08-2023 */
							.elementor-heading-title {
								padding: 0;
								margin: 0;
								line-height: 1
							}

							.elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
								color: inherit;
								font-size: inherit;
								line-height: inherit
							}

							.elementor-widget-heading .elementor-heading-title.elementor-size-small {
								font-size: 15px
							}

							.elementor-widget-heading .elementor-heading-title.elementor-size-medium {
								font-size: 19px
							}

							.elementor-widget-heading .elementor-heading-title.elementor-size-large {
								font-size: 29px
							}

							.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
								font-size: 39px
							}

							.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
								font-size: 59px
							}</style><h1 class="elementor-heading-title elementor-size-default">FAQ</h1>
					</div>
				</div>
				<div class="elementor-element elementor-element-f836012 elementor-widget elementor-widget-heading" data-id="f836012" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h4 class="elementor-heading-title elementor-size-default">Frequently Asked Questions</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-4dcc852 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4dcc852" data-element_type="section">
	<div class="elementor-container elementor-column-gap-default">
		<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7378792" data-id="7378792" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-a353e64 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a353e64" data-element_type="section">
					<div class="elementor-container elementor-column-gap-default">
						<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-fb41bdc elementor-invisible" data-id="fb41bdc" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
							<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-c981432 elementor-widget elementor-widget-heading" data-id="c981432" data-element_type="widget" data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<h2 class="elementor-heading-title elementor-size-default">We're here to help you</h2>
									</div>
								</div>
								<div class="elementor-element elementor-element-79d3f64 elementor-search-form--skin-classic elementor-search-form--button-type-icon elementor-search-form--icon-search elementor-widget elementor-widget-search-form" data-id="79d3f64" data-element_type="widget" data-settings="{&quot;skin&quot;:&quot;classic&quot;}" data-widget_type="search-form.default">
									<div class="elementor-widget-container">
										<form class="elementor-search-form" role="search" action="https://point.moxcreative.com/yumma" method="get">
											<div class="elementor-search-form__container">
												<input placeholder="Search..." class="elementor-search-form__input" type="search" name="s" title="Search" value="">
												<button class="elementor-search-form__submit" type="submit" title="Search" aria-label="Search">
													<div class="e-font-icon-svg-container"><svg class="fa fa-search e-font-icon-svg e-fas-search" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg></div>							<span class="elementor-screen-only">Search</span>
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-7cb7ae2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7cb7ae2" data-element_type="section">
					<div class="elementor-container elementor-column-gap-default">
						<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-42b5720 elementor-invisible" data-id="42b5720" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;}">
							<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-618bd75 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="618bd75" data-element_type="widget" data-widget_type="icon-box.default">
									<div class="elementor-widget-container">
										<link rel="stylesheet" href="~/wp-content/plugins/elementor/assets/css/widget-icon-box.min.css">		<div class="elementor-icon-box-wrapper">
											<div class="elementor-icon-box-icon">
												<span class="elementor-icon elementor-animation-">
													<i aria-hidden="true" class="material-icons md-menu_book" data-md-icon="menu_book"></i>
												</span>
											</div>
											<div class="elementor-icon-box-content">
												<h4 class="elementor-icon-box-title">
													<span>
														Basic Knowledge
													</span>
												</h4>
												<p class="elementor-icon-box-description">
													Vitae finibus tincidunt dictum integer elit facilisis. Posuere phasellus auctor tortor sodales mauris aenean suspendisse nulla integer semper.
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-element elementor-element-48ac0ad elementor-widget elementor-widget-button" data-id="48ac0ad" data-element_type="widget" data-widget_type="button.default">
									<div class="elementor-widget-container">
										<div class="elementor-button-wrapper">
											<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
												<span class="elementor-button-content-wrapper">
													<span class="elementor-button-icon elementor-align-icon-right">
														<i aria-hidden="true" class="material-icons md-call_made" data-md-icon="call_made"></i>
													</span>
													<span class="elementor-button-text">Learn more</span>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b1da908 elementor-invisible" data-id="b1da908" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInRight&quot;}">
							<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-78ed9f2 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="78ed9f2" data-element_type="widget" data-widget_type="icon-box.default">
									<div class="elementor-widget-container">
										<div class="elementor-icon-box-wrapper">
											<div class="elementor-icon-box-icon">
												<span class="elementor-icon elementor-animation-">
													<i aria-hidden="true" class="material-icons md-mark_chat_unread" data-md-icon="mark_chat_unread"></i>
												</span>
											</div>
											<div class="elementor-icon-box-content">
												<h4 class="elementor-icon-box-title">
													<span>
														Live Chat with Our Team
													</span>
												</h4>
												<p class="elementor-icon-box-description">
													Vitae finibus tincidunt dictum integer elit facilisis. Posuere phasellus auctor tortor sodales mauris aenean suspendisse nulla integer semper.
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-element elementor-element-cd9fbc0 elementor-widget elementor-widget-button" data-id="cd9fbc0" data-element_type="widget" data-widget_type="button.default">
									<div class="elementor-widget-container">
										<div class="elementor-button-wrapper">
											<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
												<span class="elementor-button-content-wrapper">
													<span class="elementor-button-icon elementor-align-icon-right">
														<i aria-hidden="true" class="material-icons md-chat_bubble_outline" data-md-icon="chat_bubble_outline"></i>
													</span>
													<span class="elementor-button-text">Chat Now</span>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-4b5d69b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4b5d69b" data-element_type="section">
					<div class="elementor-container elementor-column-gap-default">
						<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-54ed7ce animated-slow elementor-invisible" data-id="54ed7ce" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;}">
							<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-9834210 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="9834210" data-element_type="widget" data-widget_type="icon-box.default">
									<div class="elementor-widget-container">
										<div class="elementor-icon-box-wrapper">
											<div class="elementor-icon-box-icon">
												<span class="elementor-icon elementor-animation-">
													<i aria-hidden="true" class="material-icons md-alternate_email" data-md-icon="alternate_email"></i>
												</span>
											</div>
											<div class="elementor-icon-box-content">
												<h4 class="elementor-icon-box-title">
													<span>
														Email Support
													</span>
												</h4>
												<p class="elementor-icon-box-description">
													Leo venenatis posuere nostra torquent potenti condimentum magnis non augue amet sed vivamus habitasse
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-element elementor-element-3b1382c elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="3b1382c" data-element_type="widget" data-widget_type="icon-list.default">
									<div class="elementor-widget-container">
										<link rel="stylesheet" href="~/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">		<ul class="elementor-icon-list-items">
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="material-icons md-arrow_right" data-md-icon="arrow_right"></i>
												</span>
												<span class="elementor-icon-list-text">Customer support : support@yourdomain.tld</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="material-icons md-arrow_right" data-md-icon="arrow_right"></i>
												</span>
												<span class="elementor-icon-list-text">Redactions : hello@yourdomain.tld</span>
											</li>
										</ul>
									</div>
								</div>
								<div class="elementor-element elementor-element-703ba97 elementor-widget elementor-widget-button" data-id="703ba97" data-element_type="widget" data-widget_type="button.default">
									<div class="elementor-widget-container">
										<div class="elementor-button-wrapper">
											<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
												<span class="elementor-button-content-wrapper">
													<span class="elementor-button-icon elementor-align-icon-right">
														<i aria-hidden="true" class="material-icons md-call_made" data-md-icon="call_made"></i>
													</span>
													<span class="elementor-button-text">Learn more</span>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4ab7fb4 animated-slow elementor-invisible" data-id="4ab7fb4" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInRight&quot;}">
							<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-c10c3ff elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="c10c3ff" data-element_type="widget" data-widget_type="icon-box.default">
									<div class="elementor-widget-container">
										<div class="elementor-icon-box-wrapper">
											<div class="elementor-icon-box-icon">
												<span class="elementor-icon elementor-animation-">
													<i aria-hidden="true" class="material-icons md-support_agent" data-md-icon="support_agent"></i>
												</span>
											</div>
											<div class="elementor-icon-box-content">
												<h4 class="elementor-icon-box-title">
													<span>
														Call Center
													</span>
												</h4>
												<p class="elementor-icon-box-description">
													Suspendisse justo interdum pretium mus sit erat dapibus ultricies mattis adipiscing diam velit ipsum
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-element elementor-element-8e1df9d elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="8e1df9d" data-element_type="widget" data-widget_type="icon-list.default">
									<div class="elementor-widget-container">
										<ul class="elementor-icon-list-items">
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="material-icons md-arrow_right" data-md-icon="arrow_right"></i>
												</span>
												<span class="elementor-icon-list-text">Customer Service : +6221.2002.2012</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="material-icons md-arrow_right" data-md-icon="arrow_right"></i>
												</span>
												<span class="elementor-icon-list-text">Advertise : +6221.2002.2012</span>
											</li>
										</ul>
									</div>
								</div>
								<div class="elementor-element elementor-element-fee2e6e elementor-widget elementor-widget-button" data-id="fee2e6e" data-element_type="widget" data-widget_type="button.default">
									<div class="elementor-widget-container">
										<div class="elementor-button-wrapper">
											<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
												<span class="elementor-button-content-wrapper">
													<span class="elementor-button-icon elementor-align-icon-right">
														<i aria-hidden="true" class="material-icons md-chat_bubble_outline" data-md-icon="chat_bubble_outline"></i>
													</span>
													<span class="elementor-button-text">Chat Now</span>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-39e47f2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="39e47f2" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
	<div class="elementor-background-overlay"></div>
	<div class="elementor-container elementor-column-gap-default">
		<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-bda3fba elementor-invisible" data-id="bda3fba" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;bounceInRight&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
				<div class="elementor-element elementor-element-c5718aa elementor-widget elementor-widget-heading" data-id="c5718aa" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Get update delicious recipes everyday!</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-6b149b0 elementor-widget elementor-widget-text-editor" data-id="6b149b0" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<style>
							/*! elementor - v3.15.0 - 09-08-2023 */
							.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
								background-color: #69727d;
								color: #fff
							}

							.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
								color: #69727d;
								border: 3px solid;
								background-color: transparent
							}

							.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
								margin-top: 8px
							}

							.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
								width: 1em;
								height: 1em
							}

							.elementor-widget-text-editor .elementor-drop-cap {
								float: left;
								text-align: center;
								line-height: 1;
								font-size: 50px
							}

							.elementor-widget-text-editor .elementor-drop-cap-letter {
								display: inline-block
							}</style>				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-4e5f595 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="4e5f595" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
					<div class="elementor-widget-container">
						<style>
							/*! elementor-pro - v3.10.1 - 09-01-2023 */
							.elementor-button.elementor-hidden, .elementor-hidden {
								display: none
							}

							.e-form__step {
								width: 100%
							}

								.e-form__step:not(.elementor-hidden) {
									display: flex;
									flex-wrap: wrap
								}

							.e-form__buttons {
								flex-wrap: wrap
							}

							.e-form__buttons, .e-form__buttons__wrapper {
								display: flex
							}

							.e-form__indicators {
								display: flex;
								justify-content: space-between;
								align-items: center;
								flex-wrap: nowrap;
								font-size: 13px;
								margin-bottom: var(--e-form-steps-indicators-spacing)
							}

							.e-form__indicators__indicator {
								display: flex;
								flex-direction: column;
								align-items: center;
								justify-content: center;
								flex-basis: 0;
								padding: 0 var(--e-form-steps-divider-gap)
							}

							.e-form__indicators__indicator__progress {
								width: 100%;
								position: relative;
								background-color: var(--e-form-steps-indicator-progress-background-color);
								border-radius: var(--e-form-steps-indicator-progress-border-radius);
								overflow: hidden
							}

							.e-form__indicators__indicator__progress__meter {
								width: var(--e-form-steps-indicator-progress-meter-width,0);
								height: var(--e-form-steps-indicator-progress-height);
								line-height: var(--e-form-steps-indicator-progress-height);
								padding-right: 15px;
								border-radius: var(--e-form-steps-indicator-progress-border-radius);
								background-color: var(--e-form-steps-indicator-progress-color);
								color: var(--e-form-steps-indicator-progress-meter-color);
								text-align: right;
								transition: width .1s linear
							}

							.e-form__indicators__indicator:first-child {
								padding-left: 0
							}

							.e-form__indicators__indicator:last-child {
								padding-right: 0
							}

							.e-form__indicators__indicator--state-inactive {
								color: var(--e-form-steps-indicator-inactive-primary-color,#c2cbd2)
							}

								.e-form__indicators__indicator--state-inactive [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
									background-color: var(--e-form-steps-indicator-inactive-secondary-color,#fff)
								}

								.e-form__indicators__indicator--state-inactive object, .e-form__indicators__indicator--state-inactive svg {
									fill: var(--e-form-steps-indicator-inactive-primary-color,#c2cbd2)
								}

							.e-form__indicators__indicator--state-active {
								color: var(--e-form-steps-indicator-active-primary-color,#39b54a);
								border-color: var(--e-form-steps-indicator-active-secondary-color,#fff)
							}

								.e-form__indicators__indicator--state-active [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
									background-color: var(--e-form-steps-indicator-active-secondary-color,#fff)
								}

								.e-form__indicators__indicator--state-active object, .e-form__indicators__indicator--state-active svg {
									fill: var(--e-form-steps-indicator-active-primary-color,#39b54a)
								}

							.e-form__indicators__indicator--state-completed {
								color: var(--e-form-steps-indicator-completed-secondary-color,#fff)
							}

								.e-form__indicators__indicator--state-completed [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
									background-color: var(--e-form-steps-indicator-completed-primary-color,#39b54a)
								}

								.e-form__indicators__indicator--state-completed .e-form__indicators__indicator__label {
									color: var(--e-form-steps-indicator-completed-primary-color,#39b54a)
								}

								.e-form__indicators__indicator--state-completed .e-form__indicators__indicator--shape-none {
									color: var(--e-form-steps-indicator-completed-primary-color,#39b54a);
									background-color: initial
								}

								.e-form__indicators__indicator--state-completed object, .e-form__indicators__indicator--state-completed svg {
									fill: var(--e-form-steps-indicator-completed-secondary-color,#fff)
								}

							.e-form__indicators__indicator__icon {
								width: var(--e-form-steps-indicator-padding,30px);
								height: var(--e-form-steps-indicator-padding,30px);
								font-size: var(--e-form-steps-indicator-icon-size);
								border-width: 1px;
								border-style: solid;
								display: flex;
								justify-content: center;
								align-items: center;
								overflow: hidden;
								margin-bottom: 10px
							}

								.e-form__indicators__indicator__icon img, .e-form__indicators__indicator__icon object, .e-form__indicators__indicator__icon svg {
									width: var(--e-form-steps-indicator-icon-size);
									height: auto
								}

								.e-form__indicators__indicator__icon .e-font-icon-svg {
									height: 1em
								}

							.e-form__indicators__indicator__number {
								width: var(--e-form-steps-indicator-padding,30px);
								height: var(--e-form-steps-indicator-padding,30px);
								border-width: 1px;
								border-style: solid;
								display: flex;
								justify-content: center;
								align-items: center;
								margin-bottom: 10px
							}

							.e-form__indicators__indicator--shape-circle {
								border-radius: 50%
							}

							.e-form__indicators__indicator--shape-square {
								border-radius: 0
							}

							.e-form__indicators__indicator--shape-rounded {
								border-radius: 5px
							}

							.e-form__indicators__indicator--shape-none {
								border: 0
							}

							.e-form__indicators__indicator__label {
								text-align: center
							}

							.e-form__indicators__indicator__separator {
								width: 100%;
								height: var(--e-form-steps-divider-width);
								background-color: #c2cbd2
							}

							.e-form__indicators--type-icon, .e-form__indicators--type-icon_text, .e-form__indicators--type-number, .e-form__indicators--type-number_text {
								align-items: flex-start
							}

								.e-form__indicators--type-icon .e-form__indicators__indicator__separator, .e-form__indicators--type-icon_text .e-form__indicators__indicator__separator, .e-form__indicators--type-number .e-form__indicators__indicator__separator, .e-form__indicators--type-number_text .e-form__indicators__indicator__separator {
									margin-top: calc(var(--e-form-steps-indicator-padding, 30px) / 2 - var(--e-form-steps-divider-width, 1px) / 2)
								}

							.elementor-field-type-hidden {
								display: none
							}

							.elementor-field-type-html {
								display: inline-block
							}

							.elementor-login .elementor-lost-password, .elementor-login .elementor-remember-me {
								font-size: .85em
							}

							.elementor-field-type-recaptcha_v3 .elementor-field-label {
								display: none
							}

							.elementor-field-type-recaptcha_v3 .grecaptcha-badge {
								z-index: 1
							}

							.elementor-button .elementor-form-spinner {
								order: 3
							}

							.elementor-form .elementor-button > span {
								display: flex;
								justify-content: center;
								align-items: center
							}

							.elementor-form .elementor-button .elementor-button-text {
								white-space: normal;
								flex-grow: 0
							}

							.elementor-form .elementor-button svg {
								height: auto
							}

							.elementor-form .elementor-button .e-font-icon-svg {
								height: 1em
							}

							.elementor-select-wrapper .select-caret-down-wrapper {
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								inset-inline-end: 10px;
								pointer-events: none;
								font-size: 11px
							}

								.elementor-select-wrapper .select-caret-down-wrapper svg {
									display: unset;
									width: 1em;
									aspect-ratio: unset;
									fill: currentColor
								}

								.elementor-select-wrapper .select-caret-down-wrapper i {
									font-size: 19px;
									line-height: 2
								}

							.elementor-select-wrapper.remove-before:before {
								content: "" !important
							}</style>		<form class="elementor-form" method="post" name="New Form">
							<input type="hidden" name="post_id" value="254" />
							<input type="hidden" name="form_id" value="4e5f595" />
							<input type="hidden" name="referer_title" value="FAQ" />

							<input type="hidden" name="queried_id" value="254" />

							<div class="elementor-form-fields-wrapper elementor-labels-above">
								<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-50">
									<label for="form-field-name" class="elementor-field-label">
										First Name
									</label>
									<input size="1" type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-md  elementor-field-textual" placeholder="First Name">
								</div>
								<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-field_85442b9 elementor-col-50">
									<label for="form-field-field_85442b9" class="elementor-field-label">
										Last Name
									</label>
									<input size="1" type="text" name="form_fields[field_85442b9]" id="form-field-field_85442b9" class="elementor-field elementor-size-md  elementor-field-textual" placeholder="Last Name">
								</div>
								<div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required">
									<label for="form-field-email" class="elementor-field-label">
										Email
									</label>
									<input size="1" type="email" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-md  elementor-field-textual" placeholder="Email" required="required" aria-required="true">
								</div>
								<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
									<button type="submit" class="elementor-button elementor-size-md">
										<span>
											<span class="elementor-align-icon-left elementor-button-icon">
												<svg aria-hidden="true" class="e-font-icon-svg e-far-envelope" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path></svg>
											</span>
											<span class="elementor-button-text">Sign Up</span>
										</span>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-e7704a2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e7704a2" data-element_type="section">
	<div class="elementor-container elementor-column-gap-default">
		<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b777f97 elementor-invisible" data-id="b777f97" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
				<div class="elementor-element elementor-element-7c8f8f6 elementor-widget elementor-widget-heading" data-id="7c8f8f6" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h6 class="elementor-heading-title elementor-size-default">Featured</h6>
					</div>
				</div>
				<div class="elementor-element elementor-element-49fce76 elementor-widget elementor-widget-heading" data-id="49fce76" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Most popular Questions</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-b1dd9e8 elementor-widget elementor-widget-elementskit-accordion" data-id="b1dd9e8" data-element_type="widget" data-widget_type="elementskit-accordion.default">
					<div class="elementor-widget-container">
						<div class="ekit-wid-con">
							<div class="elementskit-accordion accoedion-primary" id="accordion-64f05f904a7bc">


								<div class="elementskit-card active">
									<div class="elementskit-card-header" id="primaryHeading-0-b1dd9e8">
										<a href="#collapse-a645a6564f05f904a7bc" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-a645a6564f05f904a7bc" aria-expanded="true" aria-controls="Collapse-a645a6564f05f904a7bc">

											<span class="ekit-accordion-title">Semper vestibulum dis eu ipsum elementum?</span>


											<div class="ekit_accordion_icon_group">
												<div class="ekit_accordion_normal_icon">
													<!-- Normal Icon -->
													<i aria-hidden="true" class="icon-open icon-right icon icon-down-arrow1"></i>
												</div>

												<div class="ekit_accordion_active_icon">
													<!-- Active Icon -->
													<i aria-hidden="true" class="icon-closed icon-right icon icon-up-arrow"></i>
												</div>

											</div>


										</a>
									</div>

									<div id="Collapse-a645a6564f05f904a7bc" class=" show collapse" aria-labelledby="primaryHeading-0-b1dd9e8" data-parent="#accordion-64f05f904a7bc">

										<div class="elementskit-card-body ekit-accordion--content">
											<p>Class sagittis semper vivamus adipiscing ipsum sociosqu nostra pellentesque ut ullamcorper magna. Curabitur pede nam lacinia scelerisque id pellentesque malesuada vel si maecenas. Aliquam ridiculus hendrerit phasellus cubilia fames dui parturient praesent sed vitae facilisis.</p>
										</div>

									</div>

								</div><!-- .elementskit-card END -->


								<div class="elementskit-card ">
									<div class="elementskit-card-header" id="primaryHeading-1-b1dd9e8">
										<a href="#collapse-c20708164f05f904a7bc" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-c20708164f05f904a7bc" aria-expanded="false" aria-controls="Collapse-c20708164f05f904a7bc">

											<span class="ekit-accordion-title">Bibendum magna nulla porttitor ridiculus vivamus?</span>


											<div class="ekit_accordion_icon_group">
												<div class="ekit_accordion_normal_icon">
													<!-- Normal Icon -->
													<i aria-hidden="true" class="icon-open icon-right icon icon-down-arrow1"></i>
												</div>

												<div class="ekit_accordion_active_icon">
													<!-- Active Icon -->
													<i aria-hidden="true" class="icon-closed icon-right icon icon-up-arrow"></i>
												</div>

											</div>


										</a>
									</div>

									<div id="Collapse-c20708164f05f904a7bc" class=" collapse" aria-labelledby="primaryHeading-1-b1dd9e8" data-parent="#accordion-64f05f904a7bc">

										<div class="elementskit-card-body ekit-accordion--content">
											<p>Class sagittis semper vivamus adipiscing ipsum sociosqu nostra pellentesque ut ullamcorper magna. Curabitur pede nam lacinia scelerisque id pellentesque malesuada vel si maecenas. Aliquam ridiculus hendrerit phasellus cubilia fames dui parturient praesent sed vitae facilisis.</p>
										</div>

									</div>

								</div><!-- .elementskit-card END -->


								<div class="elementskit-card ">
									<div class="elementskit-card-header" id="primaryHeading-2-b1dd9e8">
										<a href="#collapse-807a01c64f05f904a7bc" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-807a01c64f05f904a7bc" aria-expanded="false" aria-controls="Collapse-807a01c64f05f904a7bc">

											<span class="ekit-accordion-title">Ipsum netus accumsan imperdiet ut viverra?</span>


											<div class="ekit_accordion_icon_group">
												<div class="ekit_accordion_normal_icon">
													<!-- Normal Icon -->
													<i aria-hidden="true" class="icon-open icon-right icon icon-down-arrow1"></i>
												</div>

												<div class="ekit_accordion_active_icon">
													<!-- Active Icon -->
													<i aria-hidden="true" class="icon-closed icon-right icon icon-up-arrow"></i>
												</div>

											</div>


										</a>
									</div>

									<div id="Collapse-807a01c64f05f904a7bc" class=" collapse" aria-labelledby="primaryHeading-2-b1dd9e8" data-parent="#accordion-64f05f904a7bc">

										<div class="elementskit-card-body ekit-accordion--content">
											<p>Class sagittis semper vivamus adipiscing ipsum sociosqu nostra pellentesque ut ullamcorper magna. Curabitur pede nam lacinia scelerisque id pellentesque malesuada vel si maecenas. Aliquam ridiculus hendrerit phasellus cubilia fames dui parturient praesent sed vitae facilisis.</p>
										</div>

									</div>

								</div><!-- .elementskit-card END -->


								<div class="elementskit-card ">
									<div class="elementskit-card-header" id="primaryHeading-3-b1dd9e8">
										<a href="#collapse-d2b640964f05f904a7bc" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-d2b640964f05f904a7bc" aria-expanded="false" aria-controls="Collapse-d2b640964f05f904a7bc">

											<span class="ekit-accordion-title">Natoque ultricies torquent nibh porttitor eleifend?</span>


											<div class="ekit_accordion_icon_group">
												<div class="ekit_accordion_normal_icon">
													<!-- Normal Icon -->
													<i aria-hidden="true" class="icon-open icon-right icon icon-down-arrow1"></i>
												</div>

												<div class="ekit_accordion_active_icon">
													<!-- Active Icon -->
													<i aria-hidden="true" class="icon-closed icon-right icon icon-up-arrow"></i>
												</div>

											</div>


										</a>
									</div>

									<div id="Collapse-d2b640964f05f904a7bc" class=" collapse" aria-labelledby="primaryHeading-3-b1dd9e8" data-parent="#accordion-64f05f904a7bc">

										<div class="elementskit-card-body ekit-accordion--content">
											<p>Class sagittis semper vivamus adipiscing ipsum sociosqu nostra pellentesque ut ullamcorper magna. Curabitur pede nam lacinia scelerisque id pellentesque malesuada vel si maecenas. Aliquam ridiculus hendrerit phasellus cubilia fames dui parturient praesent sed vitae facilisis.</p>
										</div>

									</div>

								</div><!-- .elementskit-card END -->


								<div class="elementskit-card ">
									<div class="elementskit-card-header" id="primaryHeading-4-b1dd9e8">
										<a href="#collapse-4952d6564f05f904a7bc" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-4952d6564f05f904a7bc" aria-expanded="false" aria-controls="Collapse-4952d6564f05f904a7bc">

											<span class="ekit-accordion-title">Velit molestie tincidunt aenean orci sed?</span>


											<div class="ekit_accordion_icon_group">
												<div class="ekit_accordion_normal_icon">
													<!-- Normal Icon -->
													<i aria-hidden="true" class="icon-open icon-right icon icon-down-arrow1"></i>
												</div>

												<div class="ekit_accordion_active_icon">
													<!-- Active Icon -->
													<i aria-hidden="true" class="icon-closed icon-right icon icon-up-arrow"></i>
												</div>

											</div>


										</a>
									</div>

									<div id="Collapse-4952d6564f05f904a7bc" class=" collapse" aria-labelledby="primaryHeading-4-b1dd9e8" data-parent="#accordion-64f05f904a7bc">

										<div class="elementskit-card-body ekit-accordion--content">
											<p>Class sagittis semper vivamus adipiscing ipsum sociosqu nostra pellentesque ut ullamcorper magna. Curabitur pede nam lacinia scelerisque id pellentesque malesuada vel si maecenas. Aliquam ridiculus hendrerit phasellus cubilia fames dui parturient praesent sed vitae facilisis.</p>
										</div>

									</div>

								</div><!-- .elementskit-card END -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
							</div>

