@{
	Layout = "~/Views/Shared/_Layoutweb.cshtml";
}
<div data-elementor-type="wp-post" data-elementor-id="254" class="elementor elementor-254">
<section class="elementor-section elementor-top-section elementor-element elementor-element-f1dd6c8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f1dd6c8" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
	<div class="elementor-background-overlay"></div>
	<div class="elementor-container elementor-column-gap-default">
		<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e4f05f5 elementor-invisible" data-id="e4f05f5" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInRight&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
				<div class="elementor-element elementor-element-89f8b73 elementor-widget elementor-widget-heading" data-id="89f8b73" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<style>
							/*! elementor - v3.15.0 - 09-08-2023 */
							.elementor-heading-title {
								padding: 0;
								margin: 0;
								line-height: 1
							}

							.elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
								color: inherit;
								font-size: inherit;
								line-height: inherit
							}

							.elementor-widget-heading .elementor-heading-title.elementor-size-small {
								font-size: 15px
							}

							.elementor-widget-heading .elementor-heading-title.elementor-size-medium {
								font-size: 19px
							}

							.elementor-widget-heading .elementor-heading-title.elementor-size-large {
								font-size: 29px
							}

							.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
								font-size: 39px
							}

							.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
								font-size: 59px
							}</style><h1 class="elementor-heading-title elementor-size-default">FAQ</h1>
					</div>
				</div>
				<div class="elementor-element elementor-element-f836012 elementor-widget elementor-widget-heading" data-id="f836012" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h4 class="elementor-heading-title elementor-size-default">Frequently Asked Questions</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-4dcc852 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4dcc852" data-element_type="section">
	<div class="elementor-container elementor-column-gap-default" >
		<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7378792" data-id="7378792" data-element_type="column" style="background-color:#fff">
			<div class="elementor-widget-wrap elementor-element-populated">
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-4b5d69b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4b5d69b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default" >
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-54ed7ce animated-slow elementor-invisible" data-id="54ed7ce" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;}">
							<div class="elementor-widget-wrap elementor-element-populated" >
								<div class="elementor-element elementor-element-9834210 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="9834210" data-element_type="widget" data-widget_type="icon-box.default">
									<div class="elementor-widget-container">
											<div class="elementor-icon-box-wrapper" >
											<div class="elementor-icon-box-icon">
												<span class="elementor-icon elementor-animation-">
													<i aria-hidden="true" class="material-icons md-alternate_email" data-md-icon="alternate_email"></i>
												</span>
											</div>
											<div class="elementor-icon-box-content">
												<h4 class="elementor-icon-box-title">
													<span>
														Email Support
													</span>
												</h4>
												<p class="elementor-icon-box-description">
													Leo venenatis posuere nostra torquent potenti condimentum magnis non augue amet sed vivamus habitasse
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-element elementor-element-3b1382c elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="3b1382c" data-element_type="widget" data-widget_type="icon-list.default">
									<div class="elementor-widget-container">
										<link rel="stylesheet" href="~/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">		<ul class="elementor-icon-list-items">
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="material-icons md-arrow_right" data-md-icon="arrow_right"></i>
												</span>
												<span class="elementor-icon-list-text">Customer support : support@yourdomain.tld</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="material-icons md-arrow_right" data-md-icon="arrow_right"></i>
												</span>
												<span class="elementor-icon-list-text">Redactions : hello@yourdomain.tld</span>
											</li>
										</ul>
									</div>
								</div>
								<div class="elementor-element elementor-element-703ba97 elementor-widget elementor-widget-button" data-id="703ba97" data-element_type="widget" data-widget_type="button.default">
									<div class="elementor-widget-container">
										<div class="elementor-button-wrapper">
											<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
												<span class="elementor-button-content-wrapper">
													<span class="elementor-button-icon elementor-align-icon-right">
														<i aria-hidden="true" class="material-icons md-call_made" data-md-icon="call_made"></i>
													</span>
													<span class="elementor-button-text">Learn more</span>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4ab7fb4 animated-slow elementor-invisible" data-id="4ab7fb4" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInRight&quot;}">
							<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-c10c3ff elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="c10c3ff" data-element_type="widget" data-widget_type="icon-box.default">
									<div class="elementor-widget-container">
										<div class="elementor-icon-box-wrapper">
											<div class="elementor-icon-box-icon">
												<span class="elementor-icon elementor-animation-">
													<i aria-hidden="true" class="material-icons md-support_agent" data-md-icon="support_agent"></i>
												</span>
											</div>
											<div class="elementor-icon-box-content">
												<h4 class="elementor-icon-box-title">
													<span>
														Call Center
													</span>
												</h4>
												<p class="elementor-icon-box-description">
													Suspendisse justo interdum pretium mus sit erat dapibus ultricies mattis adipiscing diam velit ipsum
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-element elementor-element-8e1df9d elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="8e1df9d" data-element_type="widget" data-widget_type="icon-list.default">
									<div class="elementor-widget-container">
										<ul class="elementor-icon-list-items">
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="material-icons md-arrow_right" data-md-icon="arrow_right"></i>
												</span>
												<span class="elementor-icon-list-text">Customer Service : +6221.2002.2012</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="material-icons md-arrow_right" data-md-icon="arrow_right"></i>
												</span>
												<span class="elementor-icon-list-text">Advertise : +6221.2002.2012</span>
											</li>
										</ul>
									</div>
								</div>
								<div class="elementor-element elementor-element-fee2e6e elementor-widget elementor-widget-button" data-id="fee2e6e" data-element_type="widget" data-widget_type="button.default">
									<div class="elementor-widget-container">
										<div class="elementor-button-wrapper">
											<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
												<span class="elementor-button-content-wrapper">
													<span class="elementor-button-icon elementor-align-icon-right">
														<i aria-hidden="true" class="material-icons md-chat_bubble_outline" data-md-icon="chat_bubble_outline"></i>
													</span>
													<span class="elementor-button-text">Chat Now</span>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>

<section class="elementor-section elementor-top-section elementor-element elementor-element-e7704a2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e7704a2" data-element_type="section">
	<div class="elementor-container elementor-column-gap-default">
		<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b777f97 elementor-invisible" data-id="b777f97" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
				<div class="elementor-element elementor-element-7c8f8f6 elementor-widget elementor-widget-heading" data-id="7c8f8f6" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h6 class="elementor-heading-title elementor-size-default">Featured</h6>
					</div>
				</div>
				<div class="elementor-element elementor-element-49fce76 elementor-widget elementor-widget-heading" data-id="49fce76" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Most popular Questions</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-b1dd9e8 elementor-widget elementor-widget-elementskit-accordion" data-id="b1dd9e8" data-element_type="widget" data-widget_type="elementskit-accordion.default">
					<div class="elementor-widget-container">
						<div class="ekit-wid-con">
							<div class="elementskit-accordion accoedion-primary" id="accordion-64f05f904a7bc">


								<div class="elementskit-card active">
									<div class="elementskit-card-header" id="primaryHeading-0-b1dd9e8">
										<a href="#collapse-a645a6564f05f904a7bc" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-a645a6564f05f904a7bc" aria-expanded="true" aria-controls="Collapse-a645a6564f05f904a7bc">

												<span class="ekit-accordion-title">How to become the member of this site?</span>
											<div class="ekit_accordion_icon_group">
												<div class="ekit_accordion_normal_icon">
													<!-- Normal Icon -->
													<i aria-hidden="true" class="icon-open icon-right icon icon-down-arrow1"></i>
												</div>

												<div class="ekit_accordion_active_icon">
													<!-- Active Icon -->
													<i aria-hidden="true" class="icon-closed icon-right icon icon-up-arrow"></i>
												</div>

											</div>


										</a>
									</div>

									<div id="Collapse-a645a6564f05f904a7bc" class=" show collapse" aria-labelledby="primaryHeading-0-b1dd9e8" data-parent="#accordion-64f05f904a7bc">

										<div class="elementskit-card-body ekit-accordion--content">
											<p>You need to register with our website at Pring plan with many incentives to become our member.</p>
										</div>

									</div>

								</div><!-- .elementskit-card END -->


								<div class="elementskit-card ">
									<div class="elementskit-card-header" id="primaryHeading-1-b1dd9e8">
										<a href="#collapse-c20708164f05f904a7bc" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-c20708164f05f904a7bc" aria-expanded="false" aria-controls="Collapse-c20708164f05f904a7bc">

												<span class="ekit-accordion-title">Will there be any subscription charges?</span>


											<div class="ekit_accordion_icon_group">
												<div class="ekit_accordion_normal_icon">
													<!-- Normal Icon -->
													<i aria-hidden="true" class="icon-open icon-right icon icon-down-arrow1"></i>
												</div>

												<div class="ekit_accordion_active_icon">
													<!-- Active Icon -->
													<i aria-hidden="true" class="icon-closed icon-right icon icon-up-arrow"></i>
												</div>

											</div>


										</a>
									</div>

									<div id="Collapse-c20708164f05f904a7bc" class=" collapse" aria-labelledby="primaryHeading-1-b1dd9e8" data-parent="#accordion-64f05f904a7bc">

										<div class="elementskit-card-body ekit-accordion--content">
												<p>You will be charged a fee when you sign up to become our monthly or yearly member.</p>
										</div>

									</div>

								</div><!-- .elementskit-card END -->


								<div class="elementskit-card ">
									<div class="elementskit-card-header" id="primaryHeading-2-b1dd9e8">
										<a href="#collapse-807a01c64f05f904a7bc" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-807a01c64f05f904a7bc" aria-expanded="false" aria-controls="Collapse-807a01c64f05f904a7bc">

											<span class="ekit-accordion-title">How to view the recipes and tips And Will there be any charges for that?</span>


											<div class="ekit_accordion_icon_group">
												<div class="ekit_accordion_normal_icon">
													<!-- Normal Icon -->
													<i aria-hidden="true" class="icon-open icon-right icon icon-down-arrow1"></i>
												</div>

												<div class="ekit_accordion_active_icon">
													<!-- Active Icon -->
													<i aria-hidden="true" class="icon-closed icon-right icon icon-up-arrow"></i>
												</div>

											</div>


										</a>
									</div>

									<div id="Collapse-807a01c64f05f904a7bc" class=" collapse" aria-labelledby="primaryHeading-2-b1dd9e8" data-parent="#accordion-64f05f904a7bc">

										<div class="elementskit-card-body ekit-accordion--content">
												<p>You just need to visit our website right and check out the free recipes and tips, there will be no additional charges and you can also give us feedback.</p>
										</div>

									</div>

								</div><!-- .elementskit-card END -->


								<div class="elementskit-card ">
									<div class="elementskit-card-header" id="primaryHeading-3-b1dd9e8">
										<a href="#collapse-d2b640964f05f904a7bc" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-d2b640964f05f904a7bc" aria-expanded="false" aria-controls="Collapse-d2b640964f05f904a7bc">

												<span class="ekit-accordion-title">
													I am not the registered member of the site. Can I participate in the
													contest held?
												</span>


											<div class="ekit_accordion_icon_group">
												<div class="ekit_accordion_normal_icon">
													<!-- Normal Icon -->
													<i aria-hidden="true" class="icon-open icon-right icon icon-down-arrow1"></i>
												</div>

												<div class="ekit_accordion_active_icon">
													<!-- Active Icon -->
													<i aria-hidden="true" class="icon-closed icon-right icon icon-up-arrow"></i>
												</div>

											</div>


										</a>
									</div>

									<div id="Collapse-d2b640964f05f904a7bc" class=" collapse" aria-labelledby="primaryHeading-3-b1dd9e8" data-parent="#accordion-64f05f904a7bc">

										<div class="elementskit-card-body ekit-accordion--content">
												<p>
													Competitions can be viewed and entered by submitting
													cooking tips and recipes along with list of ingredients and
													cooking process.
												</p>
										</div>

									</div>

								</div><!-- .elementskit-card END -->


								<div class="elementskit-card ">
									<div class="elementskit-card-header" id="primaryHeading-4-b1dd9e8">
										<a href="#collapse-4952d6564f05f904a7bc" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-4952d6564f05f904a7bc" aria-expanded="false" aria-controls="Collapse-4952d6564f05f904a7bc">

												<span class="ekit-accordion-title">I have posted a recipe or a tip with respect to the contest. How can I know who is the winner?</span>


											<div class="ekit_accordion_icon_group">
												<div class="ekit_accordion_normal_icon">
													<!-- Normal Icon -->
													<i aria-hidden="true" class="icon-open icon-right icon icon-down-arrow1"></i>
												</div>

												<div class="ekit_accordion_active_icon">
													<!-- Active Icon -->
													<i aria-hidden="true" class="icon-closed icon-right icon icon-up-arrow"></i>
												</div>

											</div>


										</a>
									</div>

									<div id="Collapse-4952d6564f05f904a7bc" class=" collapse" aria-labelledby="primaryHeading-4-b1dd9e8" data-parent="#accordion-64f05f904a7bc">

										<div class="elementskit-card-body ekit-accordion--content">
												<p>
													People with the best will
													receive price. Once the recipes and tips are posted, we will
													announce the winner after reviewing each of them.
												</p>
										</div>

									</div>

								</div><!-- .elementskit-card END -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
							</div>

