@{
    Layout = "~/Views/Shared/_Layoutweb.cshtml";
}
@section css{
    <link rel="stylesheet" href="~/css/site.css" />
}
<div class="container">
    <div class="info-user">
        <h3>Infor User</h3>
        <div>
            <span>
                Fullname <span style=" color: #ff2424">*</span>
            </span>
            <div class="input-setting" ondblclick="convertToInput(this)">Hoàn Nguyễn</div>
        </div>
        <div>
            <span>PhoneNumber</span>
            <div class="input-setting" ondblclick="convertToInput(this)">Ngũ kiên</div>
        </div>
        <div>
            <span>Age</span>
            <div class="input-setting" ondblclick="convertToInput(this)">20</div>
        </div>
        <div>
            <span>Email</span>
            <div class="input-setting" ondblclick="convertToInput(this)">hhhh@gmail.com</div>
        </div>
        <div>
            <span>Gender</span>
            <div class="input-setting" ondblclick="convertToInput(this)">Nam</div>
        </div>
        <div class="btn-save">
            <button> <a href="/Home/UpdateUser">Chỉnh Sửa</a></button>
        </div>
    </div>
    <div class="img-infor">
        <div class="left-infor">
            <div class="img-user">
                <img style="width: 80px; height: 80px"
                     src="https://scontent.fhan14-4.fna.fbcdn.net/v/t39.30808-1/343763552_1180827765960891_8460200521152297846_n.jpg?stp=dst-jpg_s320x320&_nc_cat=109&ccb=1-7&_nc_sid=fe8171&_nc_ohc=OLPIBM-0UYcAX-rJWjT&_nc_ht=scontent.fhan14-4.fna&oh=00_AfCZHUXItqDUn88oVXadL5elX0B-GL7FX3QcOpfNBVc2vg&oe=6511E4F8"
                     alt="" />
                <span>
                    <i class="fa-solid fa-camera"></i>
                </span>
            </div>
            <div>
                <div>
                    <p>Helloo,</p>
                    <h2 style="font-size:15px">Hoàn Nguyễn</h2>
                </div>
            </div>
        </div>

    </div>
</div>
@section Script{
    <script src="~/js/controller/user.js"></script>
}
