@{
	Layout = "~/Views/Shared/_Layoutweb.cshtml";
}
<div data-elementor-type="wp-post" data-elementor-id="1111" class="elementor elementor-1111">
	<section class="elementor-section elementor-top-section elementor-element elementor-element-66c23da elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="66c23da" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-background-overlay"></div>
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7161192 elementor-invisible" data-id="7161192" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-9c744a6 elementor-widget elementor-widget-heading" data-id="9c744a6" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.15.0 - 09-08-2023 */
								.elementor-heading-title {
									padding: 0;
									margin: 0;
									line-height: 1
								}

								.elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
									color: inherit;
									font-size: inherit;
									line-height: inherit
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-small {
									font-size: 15px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-medium {
									font-size: 19px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-large {
									font-size: 29px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
									font-size: 39px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
									font-size: 59px
								}</style><h6 class="elementor-heading-title elementor-size-default">Join Contributor</h6>
						</div>
					</div>
					<div class="elementor-element elementor-element-f776abb elementor-widget elementor-widget-heading" data-id="f776abb" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">Interested to share your recipes?</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-27ecb25 elementor-widget elementor-widget-text-editor" data-id="27ecb25" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.15.0 - 09-08-2023 */
								.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
									background-color: #69727d;
									color: #fff
								}

								.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
									color: #69727d;
									border: 3px solid;
									background-color: transparent
								}

								.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
									margin-top: 8px
								}

								.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
									width: 1em;
									height: 1em
								}

								.elementor-widget-text-editor .elementor-drop-cap {
									float: left;
									text-align: center;
									line-height: 1;
									font-size: 50px
								}

								.elementor-widget-text-editor .elementor-drop-cap-letter {
									display: inline-block
								}</style>				<p>Netus tempor ex feugiat mauris consectetuer primis aliquet tempus viverra purus. Lacinia arcu habitant vehicula condimentum cras venenatis fermentum vestibulum hendrerit. Etiam ac aenean nec risus in donec praesent facilisi.</p>
						</div>
					</div>
					<div class="elementor-element elementor-element-9fd9c42 elementor-widget elementor-widget-button" data-id="9fd9c42" data-element_type="widget" data-widget_type="button.default">
						<div class="elementor-widget-container">
							<div class="elementor-button-wrapper">
								<a class="elementor-button elementor-button-link elementor-size-md" href="#">
									<span class="elementor-button-content-wrapper">
										<span class="elementor-button-icon elementor-align-icon-right">
											<i aria-hidden="true" class="material-icons md-call_made" data-md-icon="call_made"></i>
										</span>
										<span class="elementor-button-text">Discover more</span>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-f23a5d7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f23a5d7" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7641cb9" data-id="7641cb9" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-fd8f06a elementor-invisible elementor-widget elementor-widget-heading" data-id="fd8f06a" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h6 class="elementor-heading-title elementor-size-default">Benefits</h6>
						</div>
					</div>
					<div class="elementor-element elementor-element-1074cec elementor-invisible elementor-widget elementor-widget-heading" data-id="1074cec" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_delay&quot;:240}" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">Become a Contributor and enjoy program benefits</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-b593d3f elementor-invisible elementor-widget elementor-widget-text-editor" data-id="b593d3f" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_delay&quot;:480}" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
						</div>
					</div>
					<div class="elementor-element elementor-element-fa6c104 elementor-view-stacked elementor-position-left elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-invisible elementor-widget elementor-widget-icon-box" data-id="fa6c104" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_delay&quot;:600}" data-widget_type="icon-box.default">
						<div class="elementor-widget-container">
							<link rel="stylesheet" href="~/wp-content/plugins/elementor/assets/css/widget-icon-box.min.css">		<div class="elementor-icon-box-wrapper">
								<div class="elementor-icon-box-icon">
									<span class="elementor-icon elementor-animation-">
										<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>
									</span>
								</div>
								<div class="elementor-icon-box-content">
									<h4 class="elementor-icon-box-title">
										<span>
											Extra Money
										</span>
									</h4>
									<p class="elementor-icon-box-description">
										Odio blandit convallis aliquet nibh potenti auctor primis neque efficitur commodo porttitor
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-f73aa2c elementor-view-stacked elementor-position-left elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-invisible elementor-widget elementor-widget-icon-box" data-id="f73aa2c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_delay&quot;:840}" data-widget_type="icon-box.default">
						<div class="elementor-widget-container">
							<div class="elementor-icon-box-wrapper">
								<div class="elementor-icon-box-icon">
									<span class="elementor-icon elementor-animation-">
										<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>
									</span>
								</div>
								<div class="elementor-icon-box-content">
									<h4 class="elementor-icon-box-title">
										<span>
											Free Certificate
										</span>
									</h4>
									<p class="elementor-icon-box-description">
										Odio blandit convallis aliquet nibh potenti auctor primis neque efficitur commodo porttitor
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-dae2ff1 elementor-view-stacked elementor-position-left elementor-shape-circle elementor-mobile-position-top elementor-vertical-align-top elementor-invisible elementor-widget elementor-widget-icon-box" data-id="dae2ff1" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_delay&quot;:1080}" data-widget_type="icon-box.default">
						<div class="elementor-widget-container">
							<div class="elementor-icon-box-wrapper">
								<div class="elementor-icon-box-icon">
									<span class="elementor-icon elementor-animation-">
										<svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>
									</span>
								</div>
								<div class="elementor-icon-box-content">
									<h4 class="elementor-icon-box-title">
										<span>
											Part of the yumma family
										</span>
									</h4>
									<p class="elementor-icon-box-description">
										Odio blandit convallis aliquet nibh potenti auctor primis neque efficitur commodo porttitor
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a43e06b" data-id="a43e06b" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-18dff14 elementor-invisible elementor-widget elementor-widget-image" data-id="18dff14" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;zoomIn&quot;}" data-widget_type="image.default">
						<div class="elementor-widget-container">
							<img decoding="async" fetchpriority="high" width="1080" height="720" src="~/wp-content/uploads/sites/2/2022/04/happy-young-couple-cooking-together-in-the-kitchen-at-home.jpg" class="attachment-full size-full wp-image-376" alt="Happy young couple cooking together in the kitchen at home" srcset="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/happy-young-couple-cooking-together-in-the-kitchen-at-home.jpg 1080w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/happy-young-couple-cooking-together-in-the-kitchen-at-home-300x200.jpg 300w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/happy-young-couple-cooking-together-in-the-kitchen-at-home-1024x682.jpg 1024w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/happy-young-couple-cooking-together-in-the-kitchen-at-home-768x512.jpg 768w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/happy-young-couple-cooking-together-in-the-kitchen-at-home-1536x1024.jpg 1536w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/happy-young-couple-cooking-together-in-the-kitchen-at-home-800x533.jpg 800w" sizes="(max-width: 1080px) 100vw, 1080px" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-e0339fd elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e0339fd" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ca77032" data-id="ca77032" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-64f0689 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="64f0689" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-a027521 elementor-invisible" data-id="a027521" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-30b70de elementor-widget elementor-widget-heading" data-id="30b70de" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h6 class="elementor-heading-title elementor-size-default">Testimonial</h6>
										</div>
									</div>
									<div class="elementor-element elementor-element-4e3a21b elementor-widget elementor-widget-heading" data-id="4e3a21b" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h2 class="elementor-heading-title elementor-size-default">What they say</h2>
										</div>
									</div>
									<div class="elementor-element elementor-element-64b7743 elementor-widget elementor-widget-text-editor" data-id="64b7743" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<div class="elementor-element elementor-element-4b348ac elementor-testimonial--layout-image_above elementor-testimonial--skin-default elementor-testimonial--align-center elementor-invisible elementor-widget elementor-widget-testimonial-carousel" data-id="4b348ac" data-element_type="widget" data-settings="{&quot;slides_per_view&quot;:&quot;3&quot;,&quot;slides_to_scroll&quot;:&quot;3&quot;,&quot;space_between&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:21,&quot;sizes&quot;:[]},&quot;slides_per_view_tablet&quot;:&quot;2&quot;,&quot;_animation&quot;:&quot;fadeInRight&quot;,&quot;space_between_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:21,&quot;sizes&quot;:[]},&quot;speed&quot;:500,&quot;autoplay&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;loop&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;space_between_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]}}" data-widget_type="testimonial-carousel.default">
						<div class="elementor-widget-container">
							<link rel="stylesheet" href="~/wp-content/plugins/elementor-pro/assets/css/widget-carousel.min.css">		<div class="elementor-swiper">
								<div class="elementor-main-swiper swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="elementor-testimonial">
												<div class="elementor-testimonial__content">
													<div class="elementor-testimonial__text">
														Adipiscing venenatis feugiat porta eu praesent ad cubilia suscipit quis. Ultrices morbi vehicula aptent est nec. Porta ac auctor himenaeos tempus curabitur ante neque ultrices facilisi habitasse.
													</div>
													<cite class="elementor-testimonial__cite"><span class="elementor-testimonial__name">Poppy Francis</span><span class="elementor-testimonial__title">Student</span></cite>
												</div>
												<div class="elementor-testimonial__footer">
													<div class="elementor-testimonial__image">
														<img decoding="async" src="~/wp-content/uploads/sites/2/2022/04/img__0003_Layer-5.jpg" alt="Poppy Francis">
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="elementor-testimonial">
												<div class="elementor-testimonial__content">
													<div class="elementor-testimonial__text">
														Adipiscing venenatis feugiat porta eu praesent ad cubilia suscipit quis. Ultrices morbi vehicula aptent est nec. Porta ac auctor himenaeos tempus curabitur ante neque ultrices facilisi habitasse.
													</div>
													<cite class="elementor-testimonial__cite"><span class="elementor-testimonial__name">Ethan Marshall</span><span class="elementor-testimonial__title">Student</span></cite>
												</div>
												<div class="elementor-testimonial__footer">
													<div class="elementor-testimonial__image">
														<img decoding="async" src="~/wp-content/uploads/sites/2/2022/04/img__0004_Layer-4.jpg" alt="Ethan Marshall">
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="elementor-testimonial">
												<div class="elementor-testimonial__content">
													<div class="elementor-testimonial__text">
														Adipiscing venenatis feugiat porta eu praesent ad cubilia suscipit quis. Ultrices morbi vehicula aptent est nec. Porta ac auctor himenaeos tempus curabitur ante neque ultrices facilisi habitasse.
													</div>
													<cite class="elementor-testimonial__cite"><span class="elementor-testimonial__name">Sophie Clarke</span><span class="elementor-testimonial__title">Student</span></cite>
												</div>
												<div class="elementor-testimonial__footer">
													<div class="elementor-testimonial__image">
														<img decoding="async" src="~/wp-content/uploads/sites/2/2022/04/img__0001_Layer-7.jpg" alt="Sophie Clarke">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-ac2f4f2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ac2f4f2" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-56bb92b" data-id="56bb92b" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-110be5d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="110be5d" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6f63125" data-id="6f63125" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-d370435 elementor-widget elementor-widget-heading" data-id="d370435" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h6 class="elementor-heading-title elementor-size-default">Join us</h6>
										</div>
									</div>
									<div class="elementor-element elementor-element-451887f elementor-widget elementor-widget-heading" data-id="451887f" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h2 class="elementor-heading-title elementor-size-default">Let's start sharing your awesome recipes</h2>
										</div>
									</div>
									<div class="elementor-element elementor-element-7f21005 elementor-widget elementor-widget-button" data-id="7f21005" data-element_type="widget" data-widget_type="button.default">
										<div class="elementor-widget-container">
											<div class="elementor-button-wrapper">
												<a class="elementor-button elementor-button-link elementor-size-md" href="#">
													<span class="elementor-button-content-wrapper">
														<span class="elementor-button-text">Join Now</span>
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b9dfa7a" data-id="b9dfa7a" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-57a2e72 elementor-widget elementor-widget-image" data-id="57a2e72" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<img decoding="async" width="720" height="560" src="~/wp-content/uploads/sites/2/2022/04/img_1.png" class="attachment-large size-large wp-image-430" alt="" srcset="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/img_1.png 720w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/img_1-300x233.png 300w" sizes="(max-width: 720px) 100vw, 720px" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
</div>