@{
	Layout = "~/Views/Shared/_Layoutweb.cshtml";
}
<div data-elementor-type="wp-post" data-elementor-id="983" class="elementor elementor-983">
	<section class="elementor-section elementor-top-section elementor-element elementor-element-13b02ac elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="13b02ac" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a73ab7c elementor-invisible" data-id="a73ab7c" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-11b631b elementor-widget elementor-widget-heading" data-id="11b631b" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.15.0 - 09-08-2023 */
								.elementor-heading-title {
									padding: 0;
									margin: 0;
									line-height: 1
								}

								.elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
									color: inherit;
									font-size: inherit;
									line-height: inherit
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-small {
									font-size: 15px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-medium {
									font-size: 19px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-large {
									font-size: 29px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
									font-size: 39px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
									font-size: 59px
								}</style><h6 class="elementor-heading-title elementor-size-default">Drink Recipes</h6>
						</div>
					</div>
					<div class="elementor-element elementor-element-884bae1 elementor-widget elementor-widget-heading" data-id="884bae1" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">
								The Real Mojito
							</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-86230b0 elementor--star-style-star_unicode elementor-widget elementor-widget-star-rating" data-id="86230b0" data-element_type="widget" data-widget_type="star-rating.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.15.0 - 09-08-2023 */
								@@charset "UTF-8";

								.elementor-star-rating {
									color: #ccd6df;
									font-family: eicons;
									display: inline-block
								}

								.elementor-star-rating i {
									display: inline-block;
									position: relative;
									font-style: normal;
									cursor: default
								}

									.elementor-star-rating i:before {
										content: "\e934";
										display: block;
										font-size: inherit;
										font-family: inherit;
										position: absolute;
										overflow: hidden;
										color: #f0ad4e;
										top: 0;
										left: 0
									}

									.elementor-star-rating .elementor-star-empty:before {
										content: none
									}

									.elementor-star-rating .elementor-star-1:before {
										width: 10%
									}

									.elementor-star-rating .elementor-star-2:before {
										width: 20%
									}

									.elementor-star-rating .elementor-star-3:before {
										width: 30%
									}

									.elementor-star-rating .elementor-star-4:before {
										width: 40%
									}

									.elementor-star-rating .elementor-star-5:before {
										width: 50%
									}

									.elementor-star-rating .elementor-star-6:before {
										width: 60%
									}

									.elementor-star-rating .elementor-star-7:before {
										width: 70%
									}

									.elementor-star-rating .elementor-star-8:before {
										width: 80%
									}

									.elementor-star-rating .elementor-star-9:before {
										width: 90%
									}

								.elementor-star-rating__wrapper {
									display: flex;
									align-items: center
								}

								.elementor-star-rating__title {
									margin-right: 10px
								}

								.elementor-star-rating--align-right .elementor-star-rating__wrapper {
									text-align: right;
									justify-content: flex-end
								}

								.elementor-star-rating--align-left .elementor-star-rating__wrapper {
									text-align: left;
									justify-content: flex-start
								}

								.elementor-star-rating--align-center .elementor-star-rating__wrapper {
									text-align: center;
									justify-content: center
								}

								.elementor-star-rating--align-justify .elementor-star-rating__title {
									margin-right: auto
								}

								@@media (max-width:1024px) {
									.elementor-star-rating-tablet--align-right .elementor-star-rating__wrapper {
										text-align: right;
										justify-content: flex-end
									}

									.elementor-star-rating-tablet--align-left .elementor-star-rating__wrapper {
										text-align: left;
										justify-content: flex-start
									}

									.elementor-star-rating-tablet--align-center .elementor-star-rating__wrapper {
										text-align: center;
										justify-content: center
									}

									.elementor-star-rating-tablet--align-justify .elementor-star-rating__title {
										margin-right: auto
									}
								}

								@@media (max-width:767px) {
									.elementor-star-rating-mobile--align-right .elementor-star-rating__wrapper {
										text-align: right;
										justify-content: flex-end
									}

									.elementor-star-rating-mobile--align-left .elementor-star-rating__wrapper {
										text-align: left;
										justify-content: flex-start
									}

									.elementor-star-rating-mobile--align-center .elementor-star-rating__wrapper {
										text-align: center;
										justify-content: center
									}

									.elementor-star-rating-mobile--align-justify .elementor-star-rating__title {
										margin-right: auto
									}
								}

								.last-star {
									letter-spacing: 0
								}

								.elementor--star-style-star_unicode .elementor-star-rating {
									font-family: Arial,Helvetica,sans-serif
								}

									.elementor--star-style-star_unicode .elementor-star-rating i:not(.elementor-star-empty):before {
										content: "★"
									}</style>
							<div class="elementor-star-rating__wrapper">
								<div class="elementor-star-rating__title">187 Reviews</div>
								<div class="elementor-star-rating" title="4.5/5" itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating"><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-5">&#9733;</i> <span itemprop="ratingValue" class="elementor-screen-only">4.5/5</span></div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-17aa381 elementor-widget elementor-widget-text-editor" data-id="17aa381" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.15.0 - 09-08-2023 */
								.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
									background-color: #69727d;
									color: #fff
								}

								.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
									color: #69727d;
									border: 3px solid;
									background-color: transparent
								}

								.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
									margin-top: 8px
								}

								.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
									width: 1em;
									height: 1em
								}

								.elementor-widget-text-editor .elementor-drop-cap {
									float: left;
									text-align: center;
									line-height: 1;
									font-size: 50px
								}

								.elementor-widget-text-editor .elementor-drop-cap-letter {
									display: inline-block
								}</style>				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
						</div>
					</div>
					<div class="elementor-element elementor-element-34044f6 elementor-widget elementor-widget-heading" data-id="34044f6" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h4 class="elementor-heading-title elementor-size-default">Nutrition Facts</h4>
						</div>
					</div>
					<div class="elementor-element elementor-element-24d68b9 elementor-widget elementor-widget-text-editor" data-id="24d68b9" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p><strong>Per Serving:</strong> 203 calories; fat 0.1g; sodium 11.4mg; carbohydrates 28.5g; protein 0.2g</p>
						</div>
					</div>
					<div class="elementor-element elementor-element-eaf593f elementor-share-buttons--skin-flat elementor-share-buttons--shape-rounded elementor-grid-4 elementor-grid-mobile-2 elementor-share-buttons--view-icon-text elementor-share-buttons--color-official elementor-widget elementor-widget-share-buttons" data-id="eaf593f" data-element_type="widget" data-widget_type="share-buttons.default">
						<div class="elementor-widget-container">
							<link rel="stylesheet" href="~/wp-content/plugins/elementor-pro/assets/css/widget-share-buttons.min.css">		<div class="elementor-grid">
								<div class="elementor-grid-item">
									<div class="elementor-share-btn elementor-share-btn_facebook"
										 role="button"
										 tabindex="0"
										 aria-label="Share on facebook">
										<span class="elementor-share-btn__icon">
											<svg class="e-font-icon-svg e-fab-facebook" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path></svg>
										</span>
										<div class="elementor-share-btn__text">
											<span class="elementor-share-btn__title">
												Facebook
											</span>
										</div>
									</div>
								</div>
								<div class="elementor-grid-item">
									<div class="elementor-share-btn elementor-share-btn_pinterest"
										 role="button"
										 tabindex="0"
										 aria-label="Share on pinterest">
										<span class="elementor-share-btn__icon">
											<svg class="e-font-icon-svg e-fab-pinterest" viewBox="0 0 496 512" xmlns="http://www.w3.org/2000/svg"><path d="M496 256c0 137-111 248-248 248-25.6 0-50.2-3.9-73.4-11.1 10.1-16.5 25.2-43.5 30.8-65 3-11.6 15.4-59 15.4-59 8.1 15.4 31.7 28.5 56.8 28.5 74.8 0 128.7-68.8 128.7-154.3 0-81.9-66.9-143.2-152.9-143.2-107 0-163.9 71.8-163.9 150.1 0 36.4 19.4 81.7 50.3 96.1 4.7 2.2 7.2 1.2 8.3-3.3.8-3.4 5-20.3 6.9-28.1.6-2.5.3-4.7-1.7-7.1-10.1-12.5-18.3-35.3-18.3-56.6 0-54.7 41.4-107.6 112-107.6 60.9 0 103.6 41.5 103.6 100.9 0 67.1-33.9 113.6-78 113.6-24.3 0-42.6-20.1-36.7-44.8 7-29.5 20.5-61.3 20.5-82.6 0-19-10.2-34.9-31.4-34.9-24.9 0-44.9 25.7-44.9 60.2 0 22 7.4 36.8 7.4 36.8s-24.5 103.8-29 123.2c-5 21.4-3 51.6-.9 71.2C65.4 450.9 0 361.1 0 256 0 119 111 8 248 8s248 111 248 248z"></path></svg>
										</span>
										<div class="elementor-share-btn__text">
											<span class="elementor-share-btn__title">
												Pinterest
											</span>
										</div>
									</div>
								</div>
								<div class="elementor-grid-item">
									<div class="elementor-share-btn elementor-share-btn_whatsapp"
										 role="button"
										 tabindex="0"
										 aria-label="Share on whatsapp">
										<span class="elementor-share-btn__icon">
											<svg class="e-font-icon-svg e-fab-whatsapp" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path></svg>
										</span>
										<div class="elementor-share-btn__text">
											<span class="elementor-share-btn__title">
												WhatsApp
											</span>
										</div>
									</div>
								</div>
								<div class="elementor-grid-item">
									<div class="elementor-share-btn elementor-share-btn_print"
										 role="button"
										 tabindex="0"
										 aria-label="Share on print">
										<span class="elementor-share-btn__icon">
											<svg class="e-font-icon-svg e-fas-print" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M448 192V77.25c0-8.49-3.37-16.62-9.37-22.63L393.37 9.37c-6-6-14.14-9.37-22.63-9.37H96C78.33 0 64 14.33 64 32v160c-35.35 0-64 28.65-64 64v112c0 8.84 7.16 16 16 16h48v96c0 17.67 14.33 32 32 32h320c17.67 0 32-14.33 32-32v-96h48c8.84 0 16-7.16 16-16V256c0-35.35-28.65-64-64-64zm-64 256H128v-96h256v96zm0-224H128V64h192v48c0 8.84 7.16 16 16 16h48v96zm48 72c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24z"></path></svg>
										</span>
										<div class="elementor-share-btn__text">
											<span class="elementor-share-btn__title">
												Print
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-e35116a elementor-invisible" data-id="e35116a" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-dcf05e9 elementor-skin-slideshow elementor-aspect-ratio-43 elementor-arrows-yes elementor-widget elementor-widget-media-carousel" data-id="dcf05e9" data-element_type="widget" data-settings="{&quot;skin&quot;:&quot;slideshow&quot;,&quot;centered_slides&quot;:&quot;yes&quot;,&quot;effect&quot;:&quot;slide&quot;,&quot;show_arrows&quot;:&quot;yes&quot;,&quot;speed&quot;:500,&quot;autoplay&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;loop&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;space_between&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;space_between_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;space_between_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]}}" data-widget_type="media-carousel.default">
						<div class="elementor-widget-container">
							<link rel="stylesheet" href="~/wp-content/plugins/elementor-pro/assets/css/widget-carousel.min.css">		<div class="elementor-swiper">
								<div class="elementor-main-swiper swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="elementor-carousel-image" style="background-image: url(~/wp-content/uploads/sites/2/2022/04/mojito.jpg)">
											</div>
										</div>
										<div class="swiper-slide">
											<div class="elementor-carousel-image" style="background-image: url(~/wp-content/uploads/sites/2/2022/04/mojito-cocktail.jpg)">
											</div>
										</div>
										<div class="swiper-slide">
											<div class="elementor-carousel-image" style="background-image: url(~/wp-content/uploads/sites/2/2022/04/mojito-cocktail-2.jpg)">
											</div>
										</div>
										<div class="swiper-slide">
											<a href="~/wp-content/uploads/sites/2/2022/04/glass-of-mojito-1.jpg" data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="dcf05e9" data-elementor-lightbox-title="Glass of mojito" data-elementor-lightbox-description="Glass of mojito" data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MTAwMywidXJsIjoiaHR0cHM6XC9cL3BvaW50Lm1veGNyZWF0aXZlLmNvbVwveXVtbWFcL3dwLWNvbnRlbnRcL3VwbG9hZHNcL3NpdGVzXC8yXC8yMDIyXC8wNFwvZ2xhc3Mtb2YtbW9qaXRvLTEuanBnIiwic2xpZGVzaG93IjoiZGNmMDVlOSJ9" data-elementor-lightbox-video="">
												<div class="elementor-carousel-image" style="background-image: url(~/wp-content/uploads/sites/2/2022/04/glass-of-mojito-1.jpg)">


													<div class="elementor-custom-embed-play">
														<svg aria-hidden="true" class="e-font-icon-svg e-eicon-play" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M838 162C746 71 633 25 500 25 371 25 258 71 163 162 71 254 25 367 25 500 25 633 71 746 163 837 254 929 367 979 500 979 633 979 746 933 838 837 929 746 975 633 975 500 975 367 929 254 838 162M808 192C892 279 933 379 933 500 933 621 892 725 808 808 725 892 621 938 500 938 379 938 279 896 196 808 113 725 67 621 67 500 67 379 108 279 196 192 279 108 383 62 500 62 621 62 721 108 808 192M438 392V642L642 517 438 392Z"></path></svg>					<span class="elementor-screen-only">Play</span>
													</div>
												</div>
											</a>
										</div>
									</div>
									<div class="elementor-swiper-button elementor-swiper-button-prev">
										<svg aria-hidden="true" class="e-font-icon-svg e-eicon-chevron-left" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M646 125C629 125 613 133 604 142L308 442C296 454 292 471 292 487 292 504 296 521 308 533L604 854C617 867 629 875 646 875 663 875 679 871 692 858 704 846 713 829 713 812 713 796 708 779 692 767L438 487 692 225C700 217 708 204 708 187 708 171 704 154 692 142 675 129 663 125 646 125Z"></path></svg>							<span class="elementor-screen-only">Previous</span>
									</div>
									<div class="elementor-swiper-button elementor-swiper-button-next">
										<svg aria-hidden="true" class="e-font-icon-svg e-eicon-chevron-right" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M696 533C708 521 713 504 713 487 713 471 708 454 696 446L400 146C388 133 375 125 354 125 338 125 325 129 313 142 300 154 292 171 292 187 292 204 296 221 308 233L563 492 304 771C292 783 288 800 288 817 288 833 296 850 308 863 321 871 338 875 354 875 371 875 388 867 400 854L696 533Z"></path></svg>							<span class="elementor-screen-only">Next</span>
									</div>
								</div>
							</div>
							<div class="elementor-swiper">
								<div class="elementor-thumbnails-swiper swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="elementor-fit-aspect-ratio elementor-carousel-image" style="background-image: url(~/wp-content/uploads/sites/2/2022/04/mojito.jpg)">
											</div>
										</div>
										<div class="swiper-slide">
											<div class="elementor-fit-aspect-ratio elementor-carousel-image" style="background-image: url(~/wp-content/uploads/sites/2/2022/04/mojito-cocktail.jpg)">
											</div>
										</div>
										<div class="swiper-slide">
											<div class="elementor-fit-aspect-ratio elementor-carousel-image" style="background-image: url(~/wp-content/uploads/sites/2/2022/04/mojito-cocktail-2.jpg)">
											</div>
										</div>
										<div class="swiper-slide">
											<div class="elementor-fit-aspect-ratio elementor-carousel-image" style="background-image: url(~/wp-content/uploads/sites/2/2022/04/glass-of-mojito-1.jpg)">
											</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-ca136dd elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ca136dd" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-cdb83d1 animated-slow elementor-invisible" data-id="cdb83d1" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-b7e0b7e elementor-widget elementor-widget-heading" data-id="b7e0b7e" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h4 class="elementor-heading-title elementor-size-default">Descriptions</h4>
						</div>
					</div>
					<div class="elementor-element elementor-element-86d4f90 elementor-widget elementor-widget-text-editor" data-id="86d4f90" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>Metus porttitor facilisis velit blandit ante fringilla sit neque ultrices quis. Inceptos nibh sociosqu ad volutpat nisi natoque posuere cras sollicitudin. Nulla dignissim commodo si libero hac neque sodales litora.</p>
						</div>
					</div>
					<div class="elementor-element elementor-element-fb9deb7 elementor-widget elementor-widget-text-editor" data-id="fb9deb7" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>Metus porttitor facilisis velit blandit ante fringilla sit neque ultrices quis. Inceptos nibh sociosqu ad volutpat nisi natoque posuere cras sollicitudin. Nulla dignissim commodo si libero hac neque sodales litora.</p>
						</div>
					</div>
					<div class="elementor-element elementor-element-cc59048 elementor-widget elementor-widget-heading" data-id="cc59048" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h4 class="elementor-heading-title elementor-size-default">Directions</h4>
						</div>
					</div>
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-f879f13 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f879f13" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-72c0be4" data-id="72c0be4" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-8550079 elementor-widget elementor-widget-heading" data-id="8550079" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h5 class="elementor-heading-title elementor-size-default">Step 1</h5>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9488283" data-id="9488283" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-e5fc525 elementor-widget elementor-widget-text-editor" data-id="e5fc525" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-3d9dc97 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3d9dc97" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e8cfbb0" data-id="e8cfbb0" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-db28781 elementor-widget elementor-widget-heading" data-id="db28781" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h5 class="elementor-heading-title elementor-size-default">Step 2</h5>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2bb48e3" data-id="2bb48e3" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-35d1318 elementor-widget elementor-widget-text-editor" data-id="35d1318" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>Lacus volutpat vivamus sociosqu interdum quisque efficitur metus aptent mattis blandit elit nullam fringilla</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-cf07fd1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="cf07fd1" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-16f2735" data-id="16f2735" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-5e5c7d0 elementor-widget elementor-widget-heading" data-id="5e5c7d0" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h5 class="elementor-heading-title elementor-size-default">Step 3</h5>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5f75702" data-id="5f75702" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-66b60ec elementor-widget elementor-widget-text-editor" data-id="66b60ec" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-c301c18 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c301c18" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-43e4a5c" data-id="43e4a5c" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-2a50835 elementor-widget elementor-widget-heading" data-id="2a50835" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h5 class="elementor-heading-title elementor-size-default">Step 4</h5>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e33fbd1" data-id="e33fbd1" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-8fcfd68 elementor-widget elementor-widget-text-editor" data-id="8fcfd68" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>Pretium curae curabitur sociosqu letius ad velit tempus himenaeos</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<div class="elementor-element elementor-element-754810c elementor-widget elementor-widget-heading" data-id="754810c" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h4 class="elementor-heading-title elementor-size-default">Note's</h4>
						</div>
					</div>
					<div class="elementor-element elementor-element-bc668f2 elementor-widget elementor-widget-text-editor" data-id="bc668f2" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-0f3a3b9" data-id="0f3a3b9" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-be526d2 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="be526d2" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
						<div class="elementor-background-overlay"></div>
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-e086dd8" data-id="e086dd8" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-4de2436 elementor-widget elementor-widget-heading" data-id="4de2436" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h4 class="elementor-heading-title elementor-size-default">Ingredients</h4>
										</div>
									</div>
									<div class="elementor-element elementor-element-15dc124 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="15dc124" data-element_type="widget" data-widget_type="icon-list.default">
										<div class="elementor-widget-container">
											<link rel="stylesheet" href="~/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">		<ul class="elementor-icon-list-items">
												<li class="elementor-icon-list-item">
													<span class="elementor-icon-list-icon">
														<i aria-hidden="true" class="icon icon-checkmark"></i>
													</span>
													<span class="elementor-icon-list-text">10 fresh mint leaves</span>
												</li>
												<li class="elementor-icon-list-item">
													<span class="elementor-icon-list-icon">
														<i aria-hidden="true" class="icon icon-checkmark"></i>
													</span>
													<span class="elementor-icon-list-text">½ medium lime, cut into 3 wedges, divided</span>
												</li>
												<li class="elementor-icon-list-item">
													<span class="elementor-icon-list-icon">
														<i aria-hidden="true" class="icon icon-checkmark"></i>
													</span>
													<span class="elementor-icon-list-text">2 tablespoons white sugar, or to taste</span>
												</li>
												<li class="elementor-icon-list-item">
													<span class="elementor-icon-list-icon">
														<i aria-hidden="true" class="icon icon-checkmark"></i>
													</span>
													<span class="elementor-icon-list-text">1 cup ice cubes, or as needed</span>
												</li>
												<li class="elementor-icon-list-item">
													<span class="elementor-icon-list-icon">
														<i aria-hidden="true" class="icon icon-checkmark"></i>
													</span>
													<span class="elementor-icon-list-text">1 ½ fluid ounces white rum</span>
												</li>
												<li class="elementor-icon-list-item">
													<span class="elementor-icon-list-icon">
														<i aria-hidden="true" class="icon icon-checkmark"></i>
													</span>
													<span class="elementor-icon-list-text">½ cup club soda, or as needed</span>
												</li>
											</ul>
										</div>
									</div>
									<div class="elementor-element elementor-element-7cc9104 elementor-widget elementor-widget-heading" data-id="7cc9104" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h4 class="elementor-heading-title elementor-size-default">Menu info</h4>
										</div>
									</div>
									<div class="elementor-element elementor-element-118f210 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="118f210" data-element_type="widget" data-widget_type="icon-list.default">
										<div class="elementor-widget-container">
											<ul class="elementor-icon-list-items">
												<li class="elementor-icon-list-item">
													<span class="elementor-icon-list-icon">
														<svg aria-hidden="true" class="e-font-icon-svg e-far-clock" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path></svg>
													</span>
													<span class="elementor-icon-list-text">Total: 10 mins</span>
												</li>
												<li class="elementor-icon-list-item">
													<span class="elementor-icon-list-icon">
														<svg aria-hidden="true" class="e-font-icon-svg e-far-clock" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path></svg>
													</span>
													<span class="elementor-icon-list-text">Prep: 10 mins</span>
												</li>
												<li class="elementor-icon-list-item">
													<span class="elementor-icon-list-icon">
														<i aria-hidden="true" class="material-icons md-local_dining" data-md-icon="local_dining"></i>
													</span>
													<span class="elementor-icon-list-text">Servings: 1</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-58afb6b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="58afb6b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:240}">
						<div class="elementor-background-overlay"></div>
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-2f4690f" data-id="2f4690f" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-25705f7 elementor-widget elementor-widget-heading" data-id="25705f7" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h4 class="elementor-heading-title elementor-size-default">Author</h4>
										</div>
									</div>
									<div class="elementor-element elementor-element-c5a7a2d elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="c5a7a2d" data-element_type="widget" data-widget_type="image-box.default">
										<div class="elementor-widget-container">
											<style>
												/*! elementor - v3.15.0 - 09-08-2023 */
												.elementor-widget-image-box .elementor-image-box-content {
													width: 100%
												}

												@@media (min-width:768px) {
													.elementor-widget-image-box.elementor-position-left .elementor-image-box-wrapper, .elementor-widget-image-box.elementor-position-right .elementor-image-box-wrapper {
														display: flex
													}

													.elementor-widget-image-box.elementor-position-right .elementor-image-box-wrapper {
														text-align: right;
														flex-direction: row-reverse
													}

													.elementor-widget-image-box.elementor-position-left .elementor-image-box-wrapper {
														text-align: left;
														flex-direction: row
													}

													.elementor-widget-image-box.elementor-position-top .elementor-image-box-img {
														margin: auto
													}

													.elementor-widget-image-box.elementor-vertical-align-top .elementor-image-box-wrapper {
														align-items: flex-start
													}

													.elementor-widget-image-box.elementor-vertical-align-middle .elementor-image-box-wrapper {
														align-items: center
													}

													.elementor-widget-image-box.elementor-vertical-align-bottom .elementor-image-box-wrapper {
														align-items: flex-end
													}
												}

												@@media (max-width:767px) {
													.elementor-widget-image-box .elementor-image-box-img {
														margin-left: auto !important;
														margin-right: auto !important;
														margin-bottom: 15px
													}
												}

												.elementor-widget-image-box .elementor-image-box-img {
													display: inline-block
												}

												.elementor-widget-image-box .elementor-image-box-title a {
													color: inherit
												}

												.elementor-widget-image-box .elementor-image-box-wrapper {
													text-align: center
												}

												.elementor-widget-image-box .elementor-image-box-description {
													margin: 0
												}</style><div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img decoding="async" fetchpriority="high" width="400" height="400" src="~/wp-content/uploads/sites/2/2022/04/img__0002_Layer-6.jpg" class="attachment-full size-full wp-image-1091" alt="" srcset="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/img__0002_Layer-6.jpg 400w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/img__0002_Layer-6-300x300.jpg 300w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/img__0002_Layer-6-150x150.jpg 150w" sizes="(max-width: 400px) 100vw, 400px" /></figure><div class="elementor-image-box-content"><h5 class="elementor-image-box-title">Alisha Nicholson</h5><p class="elementor-image-box-description">Purus arcu netus placerat dictum suspendisse magna id semper finibus gravida porttitor</p></div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-e0fd804 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e0fd804" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default ">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-167ed45" data-id="167ed45" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-d25be84 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d25be84" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a21452c elementor-invisible" data-id="a21452c" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-bca8a19 elementor-widget elementor-widget-heading" data-id="bca8a19" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h3 class="elementor-heading-title elementor-size-default">Latest Recipes</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7c8d4ec elementor-invisible" data-id="7c8d4ec" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-749d236 elementor-align-right elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="749d236" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-icon elementor-align-icon-right">
                                                            <i aria-hidden="true" class="material-icons md-call_made" data-md-icon="call_made"></i>
                                                        </span>
                                                        <span class="elementor-button-text">View more</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-8e637d0 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="8e637d0" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
                        <div class="elementor-container elementor-column-gap-default" style="margin-bottom:50px">
                            <div class="  bg-item elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-d396ba5" data-id="d396ba5" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-db90170 elementor-widget elementor-widget-image" data-id="db90170" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container img-item">
                                            <img decoding="async" width="1080" height="1618" src="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/chicken-65.jpg" class="attachment-full size-full wp-image-775" alt="Chicken 65" srcset="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/chicken-65.jpg 1080w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/chicken-65-200x300.jpg 200w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/chicken-65-684x1024.jpg 684w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/chicken-65-768x1151.jpg 768w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/chicken-65-1025x1536.jpg 1025w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/chicken-65-800x1199.jpg 800w" sizes="(max-width: 1080px) 100vw, 1080px" />
                                        </div>
                                    </div>
                                    <div style="  width: 105px;
            position: absolute;
            left: 170px;" class=" elementor-element elementor-element-43c1969 elementor-widget__width-auto elementor-absolute elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="43c1969" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="icon-list.default">
                                        <div style="  width: 100%;
    height: 30px;
    margin-top: 10px;" class="elementor-widget-container ">
                                            <ul style="  background-color: var(--e-global-color-d7d34cf );
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;" class="elementor-icon-list-items ">
                                                <li style=" display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: #ffff;
            font-size: 12px;" class="elementor-icon-list-item ">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="icon icon-user"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">by Bren</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-fa8296c elementor-widget elementor-widget-heading" data-id="fa8296c" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h6 class="elementor-heading-title elementor-size-default">
                                                <a href="#">
                                                    Main Dishes
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-5a2399c elementor-widget elementor-widget-heading" data-id="5a2399c" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h4 class="elementor-heading-title elementor-size-default">
                                                <a href="#">
                                                    Quick Chicken Piccata
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-00eb634 elementor--star-style-star_unicode elementor-widget elementor-widget-star-rating" data-id="00eb634" data-element_type="widget" data-widget_type="star-rating.default">
                                        <div class="elementor-widget-container">

                                            <div class="elementor-star-rating__wrapper">
                                                <div class="elementor-star-rating" title="4.5/5" itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating"><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-5">&#9733;</i> <span itemprop="ratingValue" class="elementor-screen-only">4.5/5</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-58417a0 elementor-widget elementor-widget-text-editor" data-id="58417a0" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Habitant accumsan suscipit sodales phasellus nulla elit placerat sapien quisque gravida tincidunt</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-item elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-a19cd6e" data-id="a19cd6e" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class=" elementor-element elementor-element-543a794 elementor-widget elementor-widget-image" data-id="543a794" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container img-item">
                                            <img decoding="async" width="1080" height="720" src="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/homemade-kung-pao-chicken-with-peppers-and-vegetables-chinese-food-stir-fry-.jpg" class="attachment-full size-full wp-image-830" alt="Homemade kung pao chicken with peppers and vegetables. Chinese food. Stir fry." srcset="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/homemade-kung-pao-chicken-with-peppers-and-vegetables-chinese-food-stir-fry-.jpg 1080w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/homemade-kung-pao-chicken-with-peppers-and-vegetables-chinese-food-stir-fry--300x200.jpg 300w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/homemade-kung-pao-chicken-with-peppers-and-vegetables-chinese-food-stir-fry--1024x682.jpg 1024w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/homemade-kung-pao-chicken-with-peppers-and-vegetables-chinese-food-stir-fry--768x512.jpg 768w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/homemade-kung-pao-chicken-with-peppers-and-vegetables-chinese-food-stir-fry--1536x1024.jpg 1536w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/homemade-kung-pao-chicken-with-peppers-and-vegetables-chinese-food-stir-fry--800x533.jpg 800w" sizes="(max-width: 1080px) 100vw, 1080px" />
                                        </div>
                                    </div>
                                    <div style="     width: 105px;
            position: absolute;
            left: 170px;" class="elementor-element elementor-element-44ac836 elementor-widget__width-auto elementor-absolute elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="44ac836" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="icon-list.default">
                                        <div style="    width: 100%;
    height: 30px;
    margin-top: 10px;" class="elementor-widget-container">
                                            <ul style="    background-color: var(--e-global-color-d7d34cf );
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;" class="elementor-icon-list-items">
                                                <li style="      display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: #ffff;
            font-size: 12px;" class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="icon icon-user"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">by Morra</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-35543e4 elementor-widget elementor-widget-heading" data-id="35543e4" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h6 class="elementor-heading-title elementor-size-default">
                                                <a href="#">
                                                    Main Dishes
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-70dcee0 elementor-widget elementor-widget-heading" data-id="70dcee0" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h4 class="elementor-heading-title elementor-size-default">
                                                <a href="#">
                                                    Kung Pao Chicken
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-29646cd elementor--star-style-star_unicode elementor-widget elementor-widget-star-rating" data-id="29646cd" data-element_type="widget" data-widget_type="star-rating.default">
                                        <div class="elementor-widget-container">

                                            <div class="elementor-star-rating__wrapper">
                                                <div class="elementor-star-rating" title="4.5/5" itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating"><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-5">&#9733;</i> <span itemprop="ratingValue" class="elementor-screen-only">4.5/5</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-e85e156 elementor-widget elementor-widget-text-editor" data-id="e85e156" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Habitant accumsan suscipit sodales phasellus nulla elit placerat sapien quisque gravida tincidunt</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-item elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-2b6d39d" data-id="2b6d39d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class=" elementor-element elementor-element-9c5278b elementor-widget elementor-widget-image" data-id="9c5278b" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container img-item">
                                            <img decoding="async" loading="lazy" width="840" height="561" src="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/sweet-and-spicy-honey-grilled-chicken-thighs-e1649757466220.jpg" class="attachment-full size-full wp-image-834" alt="Sweet and spicy honey grilled chicken thighs" />
                                        </div>
                                    </div>
                                    <div style="     width: 105px;
            position: absolute;
            left: 170px;" class="elementor-element elementor-element-a2acb42 elementor-widget__width-auto elementor-absolute elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="a2acb42" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="icon-list.default">
                                        <div style="   width: 100%;
    height: 30px;
    margin-top: 10px;" class="elementor-widget-container">
                                            <ul style="   background-color: var(--e-global-color-d7d34cf );
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;" class="elementor-icon-list-items">
                                                <li style="    display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: #ffff;
            font-size: 12px;" class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="icon icon-user"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">by Chef Juna</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-68272ea elementor-widget elementor-widget-heading" data-id="68272ea" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h6 class="elementor-heading-title elementor-size-default">
                                                <a href="#">
                                                    Main Dishes
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-2b92ffc elementor-widget elementor-widget-heading" data-id="2b92ffc" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h4 class="elementor-heading-title elementor-size-default"><a href="#">Honey-Garlic Slow Cooker Chicken Thighs</a></h4>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-a9997dd elementor--star-style-star_unicode elementor-widget elementor-widget-star-rating" data-id="a9997dd" data-element_type="widget" data-widget_type="star-rating.default">
                                        <div class="elementor-widget-container">

                                            <div class="elementor-star-rating__wrapper">
                                                <div class="elementor-star-rating" title="4.5/5" itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating"><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-5">&#9733;</i> <span itemprop="ratingValue" class="elementor-screen-only">4.5/5</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-46696f8 elementor-widget elementor-widget-text-editor" data-id="46696f8" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Habitant accumsan suscipit sodales phasellus nulla elit placerat sapien quisque gravida tincidunt</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-item elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-8608c4d" data-id="8608c4d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class=" elementor-element elementor-element-89f0cc9 elementor-widget elementor-widget-image" data-id="89f0cc9" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container img-item">
                                            <img decoding="async" loading="lazy" width="720" height="1080" src="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/baked-brie-with-cranberries-e1649757494180.jpg" class="attachment-full size-full wp-image-847" alt="Baked brie with cranberries" />
                                        </div>
                                    </div>
                                    <div style="      width: 105px;
            position: absolute;
            left: 170px;" class="elementor-element elementor-element-8352571 elementor-widget__width-auto elementor-absolute elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="8352571" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="icon-list.default">
                                        <div style="    width: 100%;
    height: 30px;
    margin-top: 10px;" class="elementor-widget-container">
                                            <ul style="    background-color: var(--e-global-color-d7d34cf );
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;" class="elementor-icon-list-items">
                                                <li style="
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: #ffff;
            font-size: 12px;" class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="icon icon-user"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">by Wilgoz</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-d42d75b elementor-widget elementor-widget-heading" data-id="d42d75b" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h6 class="elementor-heading-title elementor-size-default">
                                                <a href="#">
                                                    Appetizers and Snacks
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-a3de5fe elementor-widget elementor-widget-heading" data-id="a3de5fe" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h4 class="elementor-heading-title elementor-size-default">
                                                <a href="#">
                                                    Jamie's Baked Brie
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-2f0986b elementor--star-style-star_unicode elementor-widget elementor-widget-star-rating" data-id="2f0986b" data-element_type="widget" data-widget_type="star-rating.default">
                                        <div class="elementor-widget-container">

                                            <div class="elementor-star-rating__wrapper">
                                                <div class="elementor-star-rating" title="4.5/5" itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating"><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-5">&#9733;</i> <span itemprop="ratingValue" class="elementor-screen-only">4.5/5</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-9572a03 elementor-widget elementor-widget-text-editor" data-id="9572a03" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Habitant accumsan suscipit sodales phasellus nulla elit placerat sapien quisque gravida tincidunt</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    
                    
                </div>
    </section>
</div>

