@{
    Layout = "~/Views/Shared/_Layoutweb.cshtml";
}
<h1>Tips and Tricks</h1>
    <div class="tips-list">
        <ul id="tips">
            <li><a href="#" data-id="1">Tip 1</a></li>
            <li><a href="#" data-id="2">Tip 2</a></li>
            <li><a href="#" data-id="3">Tip 3</a></li>
        </ul>
    </div>
    <div id="tip-details">
        <!-- Chi tiết tip sẽ được hiển thị ở đây -->
    </div>
@section Script{
    <script src="~/js/controller/user.js"></script>
}
